/* GOOGLE FONTS */
.poppins-thin {
    font-family: "Poppins", sans-serif;font-weight: 100;font-style: normal;
}
.roboto-thin {
    font-family: "Roboto", sans-serif;font-weight: 100;font-style: normal;
}

/*** Spinner Start ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}
/*** Spinner End ***/

body{
    background-color: #fcfcfc;
}
.back-to-top {
    position: fixed;
    right: 30px;
    bottom: 30px;
    display: flex;
    width: 45px;
    height: 45px;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    z-index: 99;
}

/*** Section Title Start ***/
.section-title {
    max-width: 900px;
    text-align: center;
    margin: 0 auto;
}

/*** Navbar ***/

.navbar-light .navbar-nav .nav-link {
    font-family: 'Poppins', sans-serif;
    position: relative;
    padding: 35px 25px;
    color: black !important;
    font-size: 16px;
    font-weight: 600;
    outline: none;
    transition: .5s;
}

.sticky-top .navbar-light .navbar-nav .nav-link {
    padding: 20px 20px;
    color: black !important;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
    color: #D65614 !important;
}

.navbar-light .navbar-brand img {
    max-height: 120px;
    transition: .5s;
}

.sticky-top .navbar-light .navbar-brand img {
    max-height: 80px;
    margin-left: 70px;
}

.sticky-top .nav-logo-head{
    display: none;
}

.sticky-top .nav-logo-head2{
    display: none;
}
.nav-logo{
    display: none;
}

@media (max-width: 1200px) {
    .sticky-top {
        position: relative;
        background: var(--bs-white);
    }

    .navbar.navbar-expand-lg .navbar-toggler {
        padding: 8px 15px;
        border: none !important;
        color: #4d4949;
    }

    .navbar-light .navbar-collapse {
        /* margin-top: 15px; */
        border-top: 1px solid #ffffff;
    }

    .navbar-light .navbar-nav .nav-link,
    .sticky-top .navbar-light .navbar-nav .nav-link {
        padding: 10px 0;
        margin-left: 8px;
        color: #1D1E1C;
    }

    .navbar-light .navbar-brand img {
        max-height: 85px;
        margin-left: -45px;
        display: none;
    }
}

@media (min-width: 991.98px) {
    .sticky-top .navbar-light {
        background: white;
    }
}
/*** Navbar End ***/

/*** service Start ***/
.service-item {
    background-color: none;
}

.service .service-item .service-inner .service-img {
    position: relative;
    overflow: hidden;
    border-radius: 10px 10px 0px 0px;
}

.service .service-item .service-inner .service-img img {
    transition: 0.8s;
}

.service .service-item:hover .service-inner .service-img img {
    transform: scale(1.2);
}
/*** Service End ***/

/* ---------------------------------------------- */
.logo-img{
    position: relative;
}
.nav-logo-head{
    font-size: 20px;
    font-weight: 800;
    font-family: "Poppins", sans-serif;
    color: black;
    margin-top: -20px;
    margin-left: -70px;
}
.nav-logo-head2{
    font-size: 15px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    margin-top: -15px;
    margin-left: -35px;
}
.navbar-nav{
    margin-left: 140px;
}
.navbar-brand {
    margin-left: 120px;
}

.btn{
    position: fixed;
    right: 200px;
    width: 178px;
    height: 50px;
    border: 1px solid #BABABA;
    border-radius: 4px;
    padding: 14px 35px 13px 35px;
    color: #1D1E1C;
    font-size: 14px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    transition: 0.8s;
}
.btn:hover{
    background-color: #D65614;
    color: white;
    border: none;
}
.sticky-top .btn{
    margin-left: 430px;
}

/* --------------------- HOME STYLE START --------------------- */

.home-banner{
    width: 100%;
    height: 700px;
}
.home-title-div{
    position: absolute;
    background: #7917105b;
    background-size: cover;
    min-width: 100%;
    height: 900px;
    top: 0;
}
.home-title{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 55px;
    line-height: 60px;
    width: 100px;
    color: white;
    margin-top: 300px;
    margin-left: 300px;
}
#home-hr{
    width: 95px;
    height: 3px;
    color: white;
    opacity: 100%;
    margin-top: -50px;
    margin-left: 300px;
}
.home-title2{
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-size: 32px;
    width: 390px;
    /* color: #D65827; */
    margin-left: 300px;
    margin-top: -10px;
    color: white;
}
.home-bg-clip{
    position: relative;
    min-width: 100%;
    max-height: 900px;
    object-fit: fill;
    top: 0;
}

/* --------------------- ABOUT US STYLE START --------------------- */

.section-about{
    background: url(../media/aboutus-bgimg1.png);
    height: 500px;
    margin-top: 0px;
}
.about-head{
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-weight: 600;
    padding-top: 30px;
    color: black;
}
.about-title{
  font-family: "Poppins", sans-serif;
  font-size: 54px;
  font-weight: 600;
  line-height: 70px;
  width: 1060px;
  height: 210px;
  text-align: center;
  margin-left: -70px;
  color: #D65827;
}
#span-about-title{
    color: #000000;
}
.about-sentance{
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  width: 1063px;
  height: 107px;
  margin-left: -70px;
  margin-top: 30px;
  color: #53626D;
}
#span-about-sentance{
  font-weight: 700;
}

.about-box, .about-box2, .about-box3{
    background-color: #E7ECF0;
    margin-top: 15px;
    margin-left: -12px;
    border-radius: 12px;
    width: 420px;
    height: 162px;
}
.about-box2{
    margin-left: -3px;
}
 .about-box3{
    margin-left: 8px;
}
.experience_icon, .experience_icon3{
    padding-top: 50px;
    padding-left: 50px;
}
.experience-head1{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 24px;
    color: #1D1E1C;
    margin-left: 100px;
    margin-top: -50px;
}
.experience-head2{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 18px;
    margin-top: -30px;
    margin-left: 100px;
}
.legacy-head{
    margin-top: -55px;
}
.service-head{
    margin-top: -45px;
}

/* --------------------- ABOUT US2 STYLE START --------------------- */

.section-about2{
    background: url(../media/aboutus-bgimg2.png);
    height: 800px;
    border-radius: 10px;
    margin-top: 10px;
}
.whatwedo-headers{
    margin-left: 30px;
    margin-top: 130px;
}
.whatwedo-head{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 24px;
    color: #ffffff;
}
.whatwedo-title{
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 54px;
  line-height: 70px;
  color: #ffffff;
  width: 650px;
  height: 210px;
}
#whatwedo-title-span{
  color: #D65827;
}

.about-content-right{
    margin-left: 70px;
    margin-top: 80px;
    width: 630px;
    height: 630px;
}
.jobevaluation-title{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: white;
    margin-top: 15px;
}
.jobvaluation-paragraph{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    width: 288px;
    color: white;
}
.placement-block{
    margin-top: -5px;
}
.readmore-link{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #D65827;
    opacity: 70%;
    text-decoration: underline;
    z-index: -99;
}

.readmore-link:hover{
    color: #D65827;
    opacity: 100%;
}
.arrow{
    margin-left: 10px;
}

/* --------------------- SERVICE STYLE START --------------------- */
.our-service-bg{
    background-image: url(../media/service_Bg_Image.png);
    height: 850px;
    border-radius: 10px;
    margin-top: -40px;
}
.our-service-content{
    width: 605px;
    height: 155px;
    background-color: #74130E;
    border-radius: 20px 12px 10px 10px;
    margin-left: -12px;
    margin-top: 55px;
}
.our-service-title{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 54px;
    color: rgb(255, 250, 250);
    padding: 100px 30px;
}
.our-service-para{
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    width: 480px;
    color: rgb(255, 250, 250);
    opacity: 80%;
    padding: 40px 30px;
}
.service-card-slider{
    margin-top: -100px;
    margin-left: 650px;
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}
  
.sr-only-focusable:active, .sr-only-focusable:focus {
    position: static;
    width: auto;
    height: auto;
    overflow: visible;
    clip: auto;
    white-space: normal;
}
  
.owl-carousel .owl-nav {
    position: absolute;
    width: 100%;
    height: 30px;
    top: calc(50% - 15px);
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}
  
.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next {
    position: relative;
    width: 40px;
    height: 40px;
    margin: 0 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: 1px solid #f0f1f1;
    border-radius: 6px;
    font-size: 16px;
    transition: .3s;
}
.owl-carousel .owl-nav .owl-prev{
    color: white;
}
.owl-carousel .owl-nav .owl-next {
    background-color: #fff;
    color: #D65614;
}
.owl-carousel .owl-nav .owl-prev:hover,
.owl-carousel .owl-nav .owl-next:hover {
    color: #ffffff;
    background: #D65614;
    border-color: #D65614;
}
  
.owl-carousel-1 .owl-nav .owl-prev,
.owl-carousel-1 .owl-nav .owl-next,
.owl-carousel-3 .owl-nav .owl-prev,
.owl-carousel-3 .owl-nav .owl-next {
    margin: 0 7px;
}
  
.owl-carousel-3 .owl-nav {
    width: auto;
    top: 365px;
    right: auto;
    left: -130px;
    justify-content: flex-end;
}


/* ---------- HOVER CONTENT BOX STYLE ------------- */
.hover-box1{
    object-fit: cover;
    transition: 0.4s;
}
.hover-box1 .constrution-box:hover{
    opacity: 0;
    cursor: pointer;
}
.constrution-box, .hospitality-box{
    margin-top: -403.6px;
}
.hover-box2{
    object-fit: cover;
    transition: 0.4s;
}
.hover-box2 .hospitality-box:hover{
    opacity: 0;
    cursor: pointer;
}
.constrution-hover{
    width: auto;
    height: 404px;
}
.constrution-box{
    width: 305px;
    height: 405px;
    margin-left: -1px;
}
.hospitality-hover{
    width: 300px;
    height: 404px;
}
.hospitality-box{
    width: 302px;
    height: 405px;
    margin-left: -1px;
}

/* --------------------- SERVICE STYLE START --------------------- */

.service-section2{
    background-color: #E7ECF0;
    border-radius: 12px;
    margin-top: 15px;
}
.service-div1{
    padding-left: 45px;
}
.service-div2{
    padding-left: 30px;
}
.choose-title{
    font-family: "Poppins", sans-serif;
    font-size: 40px;
    font-weight: 600;
    margin-top: 40px;
    margin-left: 15px;
    color: #1D1E1C;
}
.service-img{
    margin-top: 45px;
    width: 380px;
}
.choose-text-box{
    background-color: rgb(255, 255, 255);
    height: 200px;
    width: 380px;
    border-radius: 0px 0px 10px 10px;
    margin-top: -10px;
}
.choose-text-title{
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 54px;
    color: #1D1E1C;
    margin-left: 30px;
    padding-top: 30px;
}
.choose-text-para{
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 23px;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: -15px;
    color: #53626D;
}

/* --------------------------------------------------------*/
.impact-img{
    width: 630px;
}
.impact-content, .leadership-content, .value-content{
    background-color: #E7ECF0;
    border-radius: 12px;
    padding: 70px;
}
.leadership-img{
    margin-left: 20px;
}
.leadership-content{
    width: 630px;
    height: 543px;
}
.value-content{
    height: 528px;
}
.leadership-main, .valuetime-main{
    margin-top: 20px;
}
.content-title{
    font-family: "Poppins", sans-serif;
    font-size: 40px;
    font-weight: 600;
    color: #000000;
}
.content-para{
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #53626D; 
}

/* --------------------- BLOGS STYLE START --------------------- */
.blog{
    margin-top: 55px;
    height: 590px;
}
.our-blog-head{
    font-family: "Poppins", sans-serif;
    font-size: 40px;
    font-weight: 600;
    line-height: 25px;
    color: #1D1E1C;
}
.blog-img{
    transition: 0.5s;
}
.blog-img:hover{
    transform: scale(1.05);
}
.manufacture-head{
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #AAABAF;
}
.blog-subhead{
    font-family: "Poppins", sans-serif;
    font-size: 21px;
    font-weight: 600;
    line-height: 25px;
    color: #1D1E1C;
}
.blog-text{
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #53626D;
}
.viewall-link{
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #53626D;
    text-decoration: underline;
}
.viewall-link:hover{
    color: #D65827;
}

/* --------------------- BLOG LOGO STYLE START --------------------- */
.our-partner{
    border: 1px solid #E7ECF0;
    border-radius: 12px;
}
.logos-title{
    font-family: "Poppins", sans-serif;
    font-size: 40px;
    font-weight: 600;
    padding-top: 20px;
    color: #1D1E1C;
}
@keyframes slide {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

.blog-logos{
    overflow: hidden;
    margin-bottom: 30px;
    white-space: nowrap;
}
.logos-slide{
    animation:  15s slide infinite linear;
    display: inline-block;
    transition: 5s;
}
.logos-slide img{
    margin: 0px 20px;
}

/* --------------------- CONTACT1 STYLE START --------------------- */
.contact-main{
    margin-top: 25px;
}
.contact-action{
    background-image: url(../media/Action_button_bg.png);
    border-radius: 12px 12px 0px 0px;
    height: 295px;
    margin-left: -12px;
}
.action-content{
    width: auto;
    height: 200px;
}
.action-title{
    font-family: "Poppins", sans-serif;
    font-size: 35px;
    font-weight: 600;
    color: white;
    width: 680px;
    height: 50px;
    margin-left: 20px;
    padding: 10px ;
}
.action-para{
    font-family: "Roboto", sans-serif;
    font-size: 17px;
    font-weight: 500;
    line-height: 22px;
    color: white;
    width: 800px;
    padding: 0px 35px;
    margin-top: -10px;
}
.consult-btn2{
    margin-top: -130px;
    margin-right: 70px;
    width: 170px;
    height: 60px;
    border: .4px solid rgba(255, 255, 255, 0.678);
    border-radius: 4px;
    background-color: transparent;
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 600;
    transition: 1s;
}
.consult-btn2:hover{
    background-color: white;
    color: rgb(170, 48, 26);
}

/* --------------------- CONTACT2 STYLE START ------------------------ */
.contact-section{
    background-color: #313031;
}
.contact-logo{
    padding-left: 20px;
    padding-top: 30px;
}
.contact-sentence{
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #FFFFFF;
    padding-left: 30px;
    width: 500px;
}
.contact-input{
    width: 480px;
    height: 63px;
    border-radius: 6px;
    border: 1px solid;
    padding-left: 15px;
    margin-left: 30px;
    margin-top: 20px;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
}
::placeholder{
    color: #C9ADAA;
}
.input-wrapper{
    position: relative;
    display: inline-block;
}
.input-wrapper button{
    position: absolute; 
    top: 0; 
    right: 0; 
    border: none;
    cursor: pointer; 
}
.inside-btn{
    width: 135px;
    height: 49px;
    border-radius: 6px;
    background-color: #D65614;
    margin: 27px 10px;
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 16px;
    transition: 0.5s;
}
.inside-btn:hover{
    background-color: #cf2216;
}

.contact-para , .contact-email, .contact-number{
    width: 426px;
    height: 90px;
    opacity: 80%;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: #ffffff;
    padding-left: 20px;
}
.contact-number{
    font-size: 15px;
}
.contact-email{
    margin-top: -50px;
    width: 100px;
    height: 50px;
}
.contact-number-div{
    margin-left: 330px;
    margin-top: -80px;
    width: 400px;
}
.contact-number{
    margin-left: -10px;
    height: 20px;
}
.location-icon{
    width: 15px;
    height: 19px;
    margin-top: 15px;
    margin-left: 35px;
}
.email-icon{
    width: 15px;
    height: 18px;
    margin-top: -50px;
    margin-left: 35px;
}
.contact-icon{
    width: 15px;
    height: 18px;
    margin-top: 15px;
    margin-left: -30px;
}
.contact-menu-section{
    width: 620px;
    height: 400px;
    margin-left: 660px;
    margin-top: -460px;
}
.contact-menu{
    margin-top: 50px;
    margin-left: 70px;
    width: 100px;
}
.company-menu-title{
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 26px;
    color: white;
}
.contact-submenu, .contact-submenu1{
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 34px;
    opacity: 70%;
    width: 160px;
    color: white;
}
.contact-submenu1{
    width: 100px;
}
.contact-submenu:hover{
    color: #D65614;
}
.contact-submenu1:hover{
    color: #D65614;
}
.contact-menu-service{
    margin-top: 50px;
    margin-left: 100px;
    width: 300px;
}
.contact-menu-link{
    margin-left: 170px;
    margin-top: 50px;
}
.social-icons-div{
    margin-left: 445px;
    margin-top: 120px;
    width: 170px;
    height: 30px;
}
.social-icons{
    padding: 0px 10px;
}
.social-icons:hover{
    transform: scale(1.15);
}
.contact-end-hr{
    color: #ffffff;
    width: 94%;
    margin-left: 40px;
}

/* --------------------- COPYRIGHT STYLE START ------------------------ */
.copyright {
    border-top: 1px solid rgba(255, 255, 255, 0.08);
    background: var(--bs-secondary) !important;
}
.copyright-container{
    background-color: #313031;
    border-radius: 0px 0px 12px 12px;
    padding: 10px 0px 40px 0px;
    margin-top: -17px;
}
.end-note{
    font-family: "Poppins", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    width: 991px;
    height: 44px;
    opacity: 50%;
    color: #FFFFFF;
    padding-left: 60px;
}
.end-note-span{
    font-family: "Poppins", sans-serif;
    font-size: 13px;
    font-weight: 600;
    text-decoration: underline;
}

.btn-up{
    border: 1px solid #D65827;
    border-radius: 50%;
    background-color: #D65827;
    color: white;
    text-decoration: none;
}
.btn-up:hover{
    background-color: #cf2216;
    border: none;
    color: white;
}