/* GOOGLE FONTS */
.poppins-thin { font-family: "Poppins", sans-serif;font-weight: 100;font-style: normal; }

.roboto-thin { font-family: "Roboto", sans-serif;font-weight: 100;font-style: normal; }

.lato-thin { font-family: "Lato", serif; font-weight: 100; font-style: normal; }

/*** Spinner Start ***/
/* #spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}
#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
} */

.spinner-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    opacity: 80%;
}
.spinner {
    width: 120px;
    height: 70px;
    animation: wobble 0.4s ease-in-out infinite;
    transition: 1s;
}
@keyframes wobble {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(15deg); }
    50% { transform: rotate(0deg); }
    75% { transform: rotate(-15deg); }
    100% { transform: rotate(0deg); }
}
/*** Spinner End ***/

body{ background-color: rgb(255, 255, 255) }

.back-to-top {
    position: fixed;
    right: 30px;
    bottom: 30px;
    display: flex;
    width: 45px;
    height: 45px;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    z-index: 99;
}

/*** Navbar Start ***/
.topnav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.062);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    transition: height 0.3s, padding 0.3s;
    z-index: 2;
}

/* Shrink navbar on scroll */
.topnav.shrink {
    height: 70px;
    padding: 10px 20px;
}
.topnav img {
    height: 90px;
    transition: height 0.3s;
    margin-top: -10px;
}
.topnav.shrink img {
    height: 80px;
    margin-top: 30px;
}
.nav-logo-head {
    font-size: 20px;
    font-weight: 800;
    font-family: "Poppins", sans-serif;
    margin: 0;
    text-align: center;
    margin-top: -15px;
    color: #1D1E1C;
}
.nav-logo-head2 {
    font-size: 14px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    margin: 0;
    text-align: center;
    margin-top: -5px;
    color: #1D1E1C;
}
.nav-links {
    display: flex;
    align-items: center;
    gap: 15px;
    padding-left: 100px;
    margin-right: auto;
    transition: max-height 0.3s;
}
.nav-links  .nav-menu {
    padding: 10px 15px;
    text-decoration: none;
    color: #1D1E1C;
    font-family:'Poppins', sans-serif;
    font-size: 16px;  
    font-weight: 600;
    transition: 0.5s;
}
.nav-links .nav-menu.active, .nav-links .nav-menu:hover{
    color: #D65614;
}
.topnav-centered {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin: 0 auto;
    margin-left: -310px;
}
.nav-btn {
    margin-left: auto;
    position: relative;
    margin-right: 150px;    
    width: 163px;
    height: 50px;
    border: 1px solid #BABABA;
    border-radius: 4px;
    padding: 13px 25px 10px 25px;
    color: #000000;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 600;
    transition: 0.8s;
    text-decoration: none;
}
.nav-btn:hover{
    background-color: #D65614;
    color: white;
    border: 1px solid #D65614;
}
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}
.hamburger div {
    width: 22px;
    height: 2px;
    background-color: rgb(0, 0, 0);
    margin: 2px 0;
    transition: 0.3s;
}

/* Transform hamburger into a close icon */
.hamburger.open .line1 {
    transform: rotate(45deg) translate(4px, 4px);
}

.hamburger.open .line2 {
    opacity: 0;
}

.hamburger.open .line3 {
    transform: rotate(-45deg) translate(5px, -5px);
}

@media (max-width: 1035px) {
    .nav-links {
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        max-height: 0;
        overflow: hidden;
        background-color: white;
        
    }
    .nav-links .nav-menu {
       margin-right: 110px;
       padding: 5px 0px;
    }
    .nav-links.active {
        max-height: 300px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .hamburger {
        display: flex;
        margin-left: auto;
        padding-right: 450px;
    }
    .topnav-centered {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        padding: 0;
        order: 1;
    }
    .topnav img {
        height: 60px;
        margin-top: 0px;
    }
    .topnav.shrink img {
        height: 60px;
        margin-top: 0px;
    }
    .topnav {
        height: 70px;
    }
    .nav-logo-head,
    .nav-logo-head2 {
        display: none;
    }
}
/*** Navbar End ***/

/*** service Start ***/
.service .service-item .service-inner .service-img {
    position: relative;
    overflow: hidden;
    border-radius: 10px 10px 0px 0px;
    width: 380px;
}
.service .service-item .service-inner .service-img img {
    transition: 0.8s;
}
.service .service-item:hover .service-inner .service-img img {
    transform: scale(1.2);
}
/*** Service End ***/

/* --------------------- HOME STYLE START --------------------- */

.carousel-header{
    margin-top: 150px;
}
.home-title-div{
    position: absolute;
    background: #7917105b;
    background-size: cover;
    min-width: 100%;
    height: 900px;
    top: 0;
}
.home-title{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 75px;
    line-height: 70px;
    width: 100px;
    color: white;
    margin-top: 250px;
    margin-left: 685px;
}
#home-hr{
    width: 95px;
    height: 3px;
    color: white;
    opacity: 100%;
    margin-top: -50px;
    margin-left: 685px;
}
.home-title2{
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-size: 35px;
    width: 390px;
    margin-left: 685px;
    margin-top: -10px;
    color: white;
}
.home-bg-clip{
    position: relative;
    min-width: 100%;
    max-height: 900px;
    object-fit: fill;
    top: 0;
}

/* --------------------- ABOUT US STYLE START --------------------- */
.about-section{ margin-top: 120px;}

.about-container1{ margin-top: 0px; }

.section-about{
    /* background: url(../media/about-world-bg.png);
    background-repeat: no-repeat; */
    width: 780px;
    height: 500px;
    position: absolute;
    margin-top: -250px;
}
.about-bg{
    z-index: -1;
    padding-left: 20px;
}
.section-title {
    max-width: 900px;
    text-align: center;
    margin: 0 auto;
}
.about-head{
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: black;
}
.about-title{
    font-family: "Poppins", sans-serif;
    font-size: 54px;
    font-weight: 600;
    line-height: 70px;
    width: 800px;
    height: 210px;
    color: #D65827;
}
.section-title h1{text-align: center; margin-left: -150px; width: 1050px;}
 
#span-about-title{ color: #000000; }

.about-sentance{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    width: 800px;
    height: 107px;
    color: #53626D;
}

/* --------------------- EVENT STYLE START --------------------- */

.card-slider-container {
    width: 435px;
    position: relative;
    overflow: hidden;
    text-align: center;
    right: 0px;
    left: 855px;
    bottom: 320px;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.slider-heading {
    width: auto;
    height: 17px;
    font-family:"Poppins", sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: #1D1E1C;
}
.arrow-orange{
    color: #D65614;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-decoration: underline;
}
.arrow-orange:hover{color: #cf5f27b6;}

.dots-container { 
    display: flex;
    gap: 6px;
    justify-content: center; 
}
.dot {
    width: 25px;
    height: 5px;
    background-color: #ddd;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.dot.active{ background-color: #D65614; }

.slider-wrapper {
    display: flex;
    transition: transform 0.5s ease-in-out;
    
}
.card {
    min-width: 100%;
    background-color: white;
    border: 1px solid rgba(240, 230, 230, 0.637);
    border-radius: 10px;
    overflow: hidden;
    margin: 15px 0px;
}
.card-img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 6px 6px 0px 0px;
}
.card-content {
    height: 165px;
    padding: 10px 25px;
    text-align: start;
}
.card-content-head{
    font-family: "Poppins", sans-serif;
    font-size: 23.12px;
    font-weight: 700;
    line-height: 0px;
    color: #1D1E1C;
}
.card-content-text{
    font-family: "Poppins", sans-serif;
    font-size: 13px;
    font-weight: 500;
    line-height: 18.46px;
    width: auto;
    color: #53626D;
}
.time-date{
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 20.16px;
    color: #D55513;
}
.post-time{ color: #1D1E1C; }

.card-btn, .event-card-btn{
    width: 122px;
    height: 44px;
    border-radius: 4px;
    border: none;
    background-color: #D65614;
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 800;
}
.card-btn{ position: absolute; right: 25px; bottom: 18px; }

.card-btn:hover { background-color: #f1651fec;}

.naukri{
    width: 180px;
    height: 25px;
    background-color: #D65614;
    font-family: "Lato", sans-serif;
    font-size: 16.25px;
    font-weight: 700;
    line-height: 19.5px;
    color: white;
    padding: 2px 5px 0px 5px;
    border-radius: 0px 4px 4px 0px;
    position: absolute;
    margin-top: 25px;
    z-index: 1;
}

/* --------------------- EVENT STYLE START --------------------- */

.modal {
    display: none; 
    position: fixed;
    z-index: 1;
    padding-top: 0%;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); 
}
.modal-head{
    font-family: "Poppins", sans-serif;
    font-size: 30px;
    font-weight: 600;
    color: #1D1E1C;
}
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 30px;
    border: 1px solid #888;
    width: 100%;
    max-width: 600px;
    border-radius: 8px;
    text-align: start;
}
.close {
    color: #D55513; 
    font-size: 28px;
    font-weight: bold;
    border: none;
    cursor: pointer; 
    align-self: flex-end;
}
.close:hover, .close:focus {
    color: #d3632ac4;
    text-decoration: none;
    cursor: pointer;
}

#contactForm input[type="text"], #contactForm input[type="email"], .file-input input[type="file"],  #contactForm textarea {
    width: 100%;
    height: 50px;
    padding: 10px 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 7px;
    color: #53585c;
}  

.file-input input[type="file"]::-webkit-file-upload-button {
    display: none;
}

.file-input input[type="file"]:before{
    content: 'Upload Resume';
    display: inline-block;
    border: 1px solid #ccc;
    background-color: #f7f7f7;
    border-radius: 3px;
    padding: 5px 9px;
    outline: none;
    cursor: pointer;
    line-height: 16px;
    margin-right: 10px;
}

#contactForm textarea{ height: 130px; }

::placeholder{ color: #798791; }

.event-formbtn{
    background-color: #D55513;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
.event-formbtn:hover { background-color: #eb621d; }

.no-scroll { overflow: hidden; }

/* --------------------- EVENT DETAILS STYLE START --------------------- */
.event-card-section{ 
    margin-top: 20px;  
    position: relative;
    overflow: hidden;
    text-align: end;
    padding-bottom: 20px;
} 
.event-card-container{ padding-top: 20px; padding-bottom: 30px; }

.event-banner-title{ padding-top: 8%; } .event-card{ padding-top: 25px; }

.event-content{ 
    background-color: #f5f8fa;
    height: auto;
    padding: 30px 25px 20px 25px ;
    border-radius: 0px 0px 8px 8px;
}
.card-content-head, .card-content-text, .time-date { text-align: start;}

.event-card-btn{
    width: 110px;
    height: 40px;
    position: absolute;
    margin-top: -40px; 
    margin-left: -110px;
}
.event-card-btn:hover{ background-color: #f1651fec; }

/* --------------------- ABOUT-BOX STYLE START --------------------- */

#span-about-sentance{ font-weight: 700; }

.about-box-container{ margin-top: -270px;}

.about-box, .about-box2, .about-box3{
    background-color: #E7ECF0;
    margin-top: 15px;
    margin-left: -12px;
    border-radius: 12px;
    width: 420px;
    height: 162px;  
    display: flex;
    align-items: center; 
    justify-content: center;
    text-align: center;
    padding: 20px;
    overflow: hidden;
}
.about-box2{ margin-left: -3px; } .about-box3{ margin-left: 8px; }

.legacy{ margin-right: 50px; }

.p1{ padding-right: 20px; } .p2{ padding-left: 10px;} .p3{ padding-right: 13px;}

.experience_icon {
    width: 60px;
    height: 60px;
}
.experience-head1{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 24px;
    color: #1D1E1C;
    padding: 10px 10px 0px; 
}
.experience-head2{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #727f88;
    margin-top: -30px;
}
.legacy-head{ margin-top: -55px; } .service-head{ margin-top: -45px; }

/* --------------------- ABOUT US2 STYLE START --------------------- */

.section-about2{
    background: url(../media/aboutus-bgimg2.png);
    height: 800px;
    border-radius: 10px;
    padding-top: 40px;
}
.whatwedo-headers{
    margin-left: 30px;
    margin-top: 130px;
}
.whatwedo-head{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 24px;
    color: #ffffff;
}
.whatwedo-title{
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 54px;
  line-height: 70px;
  color: #ffffff;
  width: 650px;
  height: 210px;
}
#whatwedo-title-span{
  color: #D65827;
}

.about-content-right{
    margin-left: 70px;
    margin-top: 80px;
    width: 630px;
    height: 630px;
}
.jobevaluation-title{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: white;
    margin-top: 15px;
}
.jobvaluation-paragraph{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    width: 288px;
    color: white;
}
.placement-block{
    margin-top: -5px;
}
.arrow{
    margin-left: 10px;
}

/* --------------------- SERVICE STYLE START --------------------- */

.our-service1{  margin-top: 150px; }

.our-service { padding-top: 50px; padding-bottom: 10px; }

.our-service-bg{
    background-image: url(../media/service_Bg_Image.png);
    height: 850px;
    border-radius: 10px;
    margin-top: 0px;
    /* margin-bottom: 35px; */
}
.our-service-content{
    width: 604px;
    height: 155px;
    background-color: #74130E;
    border-radius: 20px 12px 10px 10px;
    margin-left: -12px;
    margin-top: 55px;
}
.our-service-title{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 54px;
    color: rgb(255, 250, 250);
    padding: 33px 30px;
    max-width: 430px;
    max-height: 100px;
}
.our-service-para{
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    width: 480px;
    color: rgb(255, 250, 250);
    opacity: 80%;
    padding: 40px 30px;
}
.service-card-slider{
    margin-top: 27px;
    margin-left: 640px;
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}
  
.sr-only-focusable:active, .sr-only-focusable:focus {
    position: static;
    width: auto;
    height: auto;
    overflow: visible;
    clip: auto;
    white-space: normal;
}
  
.owl-carousel .owl-nav {
    position: absolute;
    width: 100%;
    height: 30px;
    top: calc(50% - 15px);
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}
  
.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next {
    position: relative;
    width: 40px;
    height: 40px;
    margin: 0 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: 1px solid #f0f1f1;
    border-radius: 6px;
    font-size: 16px;
    transition: .3s;
}
.owl-carousel .owl-nav .owl-prev{
    color: white;
}
.owl-carousel .owl-nav .owl-next {
    background-color: #fff;
    color: #D65614;
}
.owl-carousel .owl-nav .owl-prev:hover,
.owl-carousel .owl-nav .owl-next:hover {
    color: #ffffff;
    background: #D65614;
    border-color: #D65614;
}
  
.owl-carousel-1 .owl-nav .owl-prev,
.owl-carousel-1 .owl-nav .owl-next,
.owl-carousel-3 .owl-nav .owl-prev,
.owl-carousel-3 .owl-nav .owl-next { margin: 0 7px; }
  
.owl-carousel-3 .owl-nav {
    width: auto;
    top: 365px;
    right: auto;
    left: -130px;
    justify-content: flex-end;
}

/* ---------- HOVER CONTENT BOX STYLE ------------- */

.manufacture-hover{
    background-color: #74130E;
    width: 299px;
    height: 404px;
    padding: 40px 30px ;
    border-radius: 10px;
}

.manufacture-title, .manufacture-box-title{
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: white;
}
.manufacture-text, .manufacture-box-text, .hospitality-text, .hospitality-ul{
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 21px;
    color: #FFFFFF;
    opacity: 80%;
}
.box-content{
    background-color: white;
    width: 300px;
    height: 218px;
    padding: 22px 27px;
    border-radius: 0 0 10px 10px;
}
.manufacture-img{ width: 300px; height: 187px; padding: 0; border-radius: 10px 10px 0px 0px; } .manufacture-box-title{ color: #1D1E1C; } 

.manufacture-box-text { color: #53626D; font-size: 14px; opacity: 100%; }

.readmore-link{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 13px;
    color: #1D1E1C;
    opacity: 70%;
    text-decoration: underline;
    z-index: -99;
    width: 86px;
}
.readmore-link:hover{
    color: #eb621d;
}
.link-img{ width: 13px; height: 10px; margin: 6px 5px;}

.hover-box3{ object-fit: cover; transition: 0.4s; }

.manufacture-box { transition: 0.5s;}

.hospitality-hover{
    background-color: #74130E;
    border-radius: 10px;
    padding: 5px 25px;
    width: 300px; 
    height: 404px;
}
.hospitality-ul{ 
    font-weight: 500;
    list-style: none; 
    opacity: 100%;
    padding-left: 0;
}
.hospitality-ul li {
    background-image: url("../media/tick-mark.png"); 
    background-repeat: no-repeat; 
    background-position: 0 40%; 
    padding-left: 20px;
    margin-bottom: 1px; 
}

.manufacture-box, .hover-box3.active .manufacture-hover  {
    display: block; 
}

.manufacture-hover, .hover-box3.active .manufacture-box {
    display: none; 
}
.hover-close{
    color: white;
    font-size: 26px;
    position: absolute;
    right: 20px;
    top: 10px;
}
/* --------------------- SERVICE STYLE START --------------------- */

.choose-section{
    padding: 55px 0 16px 0px ;
}
.choose-container{
    background-color: #E7ECF0;
    padding: 35px 50px;
    border-radius: 12px;
}
.choose-title{
    font-family: "Poppins", sans-serif;
    font-size: 40px;
    font-weight: 600;
    color: #1D1E1C;
}
.choose-box{
    background-color: #fff;
    border-radius: 0px 0px 12px 12px;
    padding: 20px 31px;
    /* width: auto; */
}
.choose-sub-title{
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: #1D1E1C;
}
.choose-text-para{
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 23px;
    color: #53626D;
}
.choose-img{
    border-radius: 12px 12px 0px 0px;
    transition: 0.5s;
}
.choose-img-box{
    border-radius: 12px 12px 0px 0px;
    overflow: hidden;
}
.choose-img:hover{ transform: scale(1.07); }

/* --------------------------------------------------------*/
.collection{ height: auto;}

.impact-container{ padding: 50px 0px 40px;} .impact-img{ width: 630px; }

.impact-content, .leadership-content, .value-content{
    background-color: #E7ECF0;
    border-radius: 10px;
    padding: 70px;
}
.leadership-img{ margin-left: 30px; height: 543px; width: 660px;}

.leadership-content{ width: 630px; height: 543px; }

.value-content{ height: 528px; } .leadership-main, .valuetime-main{ margin-top: 20px; }

.content-title{
    font-family: "Poppins", sans-serif;
    font-size: 40px;
    font-weight: 600;
    color: #000000;
}
.content-para{
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #53626D; 
}

/* --------------------- BLOGS STYLE START --------------------- */

.blog{ height: auto; } .blog-container{ padding: 32px 0px 35px; }

.blog-section{ height: 1200px; }

.blog-container1{ padding: 30px 0px;}

.our-blog-head, .contact-us-title, .form-title{
    font-family: "Poppins", sans-serif;
    font-size: 40px;
    font-weight: 600;
    line-height: 25px;
    color: #1D1E1C;
}
.blog-img{ transition: 0.5s; height: 315px; border-radius: 12px;}

.blog-img:hover{ transform: scale(1.04); }

.manufacture-head{
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #AAABAF;
}
.blog-subhead{
    font-family: "Poppins", sans-serif;
    font-size: 21px;
    font-weight: 600;
    line-height: 25px;
    color: #1D1E1C;
}
.blog-text{
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #53626D;
}
.blog-block3{ margin-top: 50px; } 

.viewall-link, .blog-link{
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #53626D;
    text-decoration: underline;
}
.blog-link:hover, .viewall-link:hover{ color: #D65827; }

.blog-class{ justify-content: space-between;}

.blog-link { position: relative; right: 10px; }

/* --------------------- BLOG-DETAILS STYLE START --------------------- */
.blog-banner{
    background:linear-gradient( rgba(118, 28, 20, 0.9), rgba(118, 28, 20, 0.9)), url(../media/blog-banner-1.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    margin-top: 150px;
}
.blog-banner-title, .event-banner-title{
    font-family: "Poppins", sans-serif;
    font-size: 45px;
    font-weight: 600;
    color: white;
}
.blog-banner-subhead{
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: white;
    padding-top: 6.5%;
}
.blog-detail-banner{
    background:linear-gradient( rgba(118, 28, 20, 0.9), rgba(118, 28, 20, 0.9)), url(../media/Blog_Details_banner_img.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;  
    margin-top: 160px;
    padding: 7% 20%;
}   
.banner-title{
    width: 1137px;
    height: 97px;
    text-align: center;
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 45px;
    font-weight: 600;
    line-height: 59px;
}
.single-blogs {
    position: relative;
    width: 100%;
    padding: 50px 0 0 0;
    margin-bottom: 15px;
}
.single-head{
    font-family: "Inter", sans-serif;
    font-size: 32px;
    font-weight: 700;
    width: 650px;
    color: #1D1E1C;
}
.single-texts{
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #53626D;
    letter-spacing: 0.2px;
}
.single-subhead{
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    color: #1D1E1C;
}
.blog-second-img{ padding: 20px 25px 30px 0px; }

.single-blogs .sn-content {
    position: relative;
    width: 100%;
    padding: 10px 0;
}
.sidebar, .sidebar-block{ padding-top: 25px;}

.sidebar-title{
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    color: #1D1E1C;
}
.sidebar-img1{ width: 400px; height: 250px; border-radius: 12px;}

.blog-head-manu{ 
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    color: #D55513;
}
.sidebar-head{
    font-family: "Inter", sans-serif;
    font-size: 21px;
    font-weight: 600;
    line-height: 23px;
    color: #1D1E1C;
    width: 342px;
    height: 90px;
}
.sidebar-text{
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    width: 402px;
    height: 72px;
    color: #53626D;
    margin-top: -20px;
}
.leadership{
    width: auto;
    padding: 2px 10px ;
    border-radius: 16px ;
    background-color: #F4EEEB;  
    color: #FF681B;
    font-family: "Inter", sans-serif;
    font-size: 13px;
    margin-top: -5px;
}
.qwerty { flex-direction: row;  gap: 10px;}

.blog-media{ justify-content: space-between; }

.shares, .tweet, .share-span, .facebook{
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #121416;
}
.share-span{ color: #757575; }  .hr-blog { width: 214px; border: 1px solid #a09d9d;} 

.facebook{ color: #3B5998; } .fb-hr { border: 1px solid #3B5998;}

.tweet{ color: #00ACED; } .twt-hr { border: 1px solid #00ACED;}

.pin-hr{ border: 1px solid #CD2B32; }  .share-div{ padding-top: 2px;}


/* --------------------- BLOG LOGO STYLE START --------------------- */
.our-partner{ border: 1px solid #E7ECF0; border-radius: 12px; }

.logos-title{
    font-family: "Poppins", sans-serif;
    font-size: 40px;
    font-weight: 600;
    padding-top: 20px;
    color: #1D1E1C;
}
.logo-white-images {
    filter: brightness(40%) saturate(100%);
    width: 130px;
}
.logo5{ height: 40px; width: 150px; }

.logo6{ height: 60px; width: 60px;} .logo7{width: 75px;}

.logo9{ height: 50px; width: 170px;} .logo17{ height: 48px; width: 135px; }

.logo10{ height: 40px; width: 130px;} .logo11{ height: 80px; width: 80px; }

.logo12 { height: 70px; width: 170px; } .logo19{ height: 50px; width: 160px;} .logo20 {width: 135px; height: 45px;}

.blog-logos{
    overflow: hidden;
    margin-bottom: 30px;
    white-space: nowrap;
}
.logos-slide{
    animation:  30s slide infinite linear;
    display: inline-block;
    transition: 5s;
}
.logos-slide img{ margin: 0px 20px; }

@keyframes slide {
    from {
        transform: translateX(2%);
    }
    to {
        transform: translateX(-100%);
    }
}

/* --------------------- CONTACT1 STYLE START --------------------- */
.contact-container{ margin-top: 140px; } 

.contact-action{
    background-image: url(../media/Action_button_bg.png);
    border-radius: 12px 12px 0px 0px;
    height: 295px;
    margin-left: -12px;
    margin-top: 25px;
}
.action-content{ width: auto; height: 200px; }

.action-title{
    font-family: "Poppins", sans-serif;
    font-size: 35px;
    font-weight: 600;
    color: white;
    width: 680px;
    height: 50px;
    margin-left: 20px;
    padding: 10px;
}
.action-para{
    font-family: "Roboto", sans-serif;
    font-size: 17px;
    font-weight: 500;
    line-height: 22px;
    color: white;
    width: 800px;
    padding: 0px 35px;
    margin-top: -10px;
}
.consult-btn2{
    margin-top: -130px;
    margin-right: 70px;
    width: 170px;
    height: 60px;
    border: .4px solid rgba(255, 255, 255, 0.678);
    border-radius: 4px;
    background-color: transparent;
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 600;
    transition: 1s;
}
.consult-btn2:hover{ background-color: white; color: rgb(170, 48, 26); }

/* --------------------- CONTACT2 STYLE START ------------------------ */
.contact-section{ background-color: #313031; }

.contact-logo{ padding-left: 20px; padding-top: 30px; }

.contact-sentence{
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #FFFFFF;
    padding-left: 30px;
    width: 500px;
}
.contact-input{
    width: 480px;
    height: 63px;
    border-radius: 6px;
    border: 1px solid;
    padding-left: 15px;
    margin-left: 30px;
    margin-top: 20px;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
}
/* ::placeholder{ color: #C9ADAA; } */

.input-wrapper{ position: relative; display: inline-block; }

.input-wrapper button{
    position: absolute; 
    top: 0; 
    right: 0; 
    border: none;
    cursor: pointer; 
}
.inside-btn{
    width: 135px;
    height: 49px;
    border-radius: 6px;
    background-color: #D65614;
    margin: 27px 10px;
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 16px;
    transition: 0.5s;
}
.inside-btn:hover{ background-color: #cf2216; }

.contact-para , .contact-email, .contact-number{
    width: 426px;
    height: 90px;
    opacity: 80%;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: #ffffff;
    padding-left: 20px;
}
.contact-number{ font-size: 15px; }

.contact-email{
    margin-top: -50px;
    width: 100px;
    height: 50px;
}
.contact-email:hover{ color: white;}

.contact-number-div{
    margin-left: 330px;
    margin-top: -63px;
    width: 400px;
}
.contact-number{ margin-left: -10px; height: 20px; }

.location-icon{
    width: 15px;
    height: 19px;
    margin-top: 15px;
    margin-left: 35px;
}
.email-icon{
    width: 15px;
    height: 18px;
    margin-top: -50px;
    margin-left: 35px;
}
.contact-icon{
    width: 15px;
    height: 18px;
    margin-top: 15px;
    margin-left: -30px;
}
.contact-menu-section{
    width: 620px;
    height: 400px;
    margin-left: 660px;
    margin-top: -460px;
}
.contact-menu{
    margin-top: 50px;
    margin-left: 70px;
    width: 100px;
}
.company-menu-title{
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 26px;
    color: white;
}
.contact-submenu, .contact-submenu1{
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 34px;
    opacity: 70%;
    width: 160px;
    color: white;
}
.contact-submenu1{ width: 100px; }

.contact-submenu:hover{ color: #D65614; } .contact-submenu1:hover{ color: #D65614; }

.contact-menu-service{
    margin-top: 50px;
    margin-left: 100px;
    width: 300px;
}
.contact-menu-link{ margin-left: 170px; margin-top: 50px; }

.social-icons-div{
    margin-left: 445px;
    margin-top: 120px;
    width: 170px;
    height: 30px;
}
.social-icons{ padding: 0px 10px; }

.social-icons:hover{ transform: scale(1.15); }

.contact-end-hr{
    color: #ffffff;
    width: 94%;
    margin-left: 40px;
}

/* --------------------- COPYRIGHT STYLE START ------------------------ */

.copyright-container{
    background-color: #313031;
    border-radius: 0px 0px 12px 12px;
    padding: 10px 0px 40px 0px;
    margin-top: -19px;
}
.end-note{
    font-family: "Poppins", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    width: 991px;
    height: 44px;
    opacity: 50%;
    color: #FFFFFF;
    padding-left: 60px;
}
.end-note-span{
    font-family: "Poppins", sans-serif;
    font-size: 13px;
    font-weight: 600;
    text-decoration: underline;
}
.btn-up{
    border: 1px solid #D65827;
    border-radius: 50%;
    background-color: #D65827;
    color: white;
    text-decoration: none;
}
.btn-up:hover{
    background-color: #cf2216;
    border: none;
    color: white;
}
.contact-form{
    background-color: #E7ECF0;
    padding: 100px 30px 0px 30px;
    height: 700px;
    border-right: 1px solid #b1b3b6;
    border-left: 1px solid #b1b3b6;
}
.contact-us-box { margin-top: 20px; height: 460px; }

.contact-us-title, .form-title{ font-size: 20px; }

.contact-us-head{
    font-family: "Poppins", sans-serif;
    font-size: 35px;
    font-weight: 600;
    color: #1D1E1C;
    margin-top: 30px;
}
.contact-us-text{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: normal;
    color: #53626D;
}
.contact-link{ padding:10px 20px; }

.contact-loc{ padding-left: 20px; margin-top: -20px;}

.contact-subhead{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #1D1E1C;
}
.contact-subtext{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 17px;
    color: #1D1E1C;
}
.line{ display: none;}

.form-box{
    padding: 20px;
    border: 1px solid #b1b3b6;
    height: 490px;
    border-radius: 12px;
    overflow: hidden;
}
.form-floating input, .form-floating textarea{ border-radius: 10px; }

.form-btn {
    border: none;
    border-radius: 12px;
    color: white;
    background-color: #ac3128;
}

.form-btn:hover {
    background-color: #ce3429;
}

@keyframes fadeInOut {
    0% {
        background-color: #ac3128; /* Original color */
    }
    10% {
        background-color: #2b9239; /* Green color when email is sent */
    }
    40% {
        background-color: #2b9239; /* Green color when email is sent */
    }
    100% {
        background-color: #ac3128; /* Back to original color */
    }
}

.form-btn.sent-animation {
    animation: fadeInOut 4s ease-in-out; /* Animation duration and timing */
    font-weight: bold;
    font-size: 15px;
}
.error-message {
    font-size: 12px;
    color: rgb(204, 30, 30);
}
.call-icon{
    width: 20px;
    height: 20px;
    opacity: 80%;
}

