.home-background-clip{
    position: relative;
    max-height: 800px;
    min-width: 100%;
    object-fit: fill;
    z-index: -1;
    top: 20px;
}

.home-title{
    top: 0;
    margin-top: -400px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 52px;
    line-height: 57px;
    width: 100px;
    color: white;
}

.custom-block-wrap {
  background: var(--white-color);
  border-radius: var(--border-radius-medium);
  position: relative;
  overflow: hidden;
  transition: all 0.5s;
}

.custom-block-wrap:hover {
  box-shadow: 0 1rem 3rem rgba(0,0,0,.175);
}

.custom-block-body {
  padding: 30px;
}

.custom-block-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.custom-block {
  border-radius: 0;
  display: block;
  background-color: antiquewhite;
}

.testing{
  padding: 100px 30px;
}
/*** Navbar End ***/

.service-section2{
  background-color: #E7ECF0;
  border-radius: 12px;
  margin-top: 15px;
}
.service-div1{
  padding-left: 45px;
}
.service-div2{
  padding-left: 30px;
}
.choose-title{
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: 600;
  /* margin-top: 40px;
  margin-left: 15px; */
  color: #1D1E1C;
}
.service-img{
  margin-top: 45px;
}
.choose-experience-img{
  width: 380px;
}
.choose-text-box{
  background-color: rgb(255, 255, 255);
  height: 200px;
  width: 380px;
  border-radius: 0px 0px 10px 10px;
  margin-top: -10px;
}
.choose-text-title{
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 54px;
  color: #1D1E1C;
  margin-left: 30px;
  padding-top: 30px;
}
.choose-text-para{
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: -15px;
  color: #53626D;
}

/* ------------------------------------------------------------
------------------------------------------------------------ */

.choose-container{
  background-color: darkslategray;
  padding: 30px 50px;
  border-radius: 12px;
}
.choose-title{
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: 600;
  color: #1D1E1C;
}