@media screen and (max-width: 400px) {
    
    .topnav-centered { margin-left: 0px; margin-top: -30px; }

    .nav-btn{
        position: absolute; 
        right: -130px;
        top: 50%; 
        transform: translateY(-50%); 
        font-size: 11px; 
        padding: 5px 20px 5px 0px;  
    }
    .nav-btn:hover{ color: white; } .nav-links .nav-menu{ margin-left: -180px;}

    .get-text{ padding-left: 20px; } .topnav img{ width: 90px;}

/* --------------------- HOME RESPONSIVE START --------------------- */
    .carousel-header{ margin-top: 50px; }

    .home-title-div{ width: auto; max-height: 400px; align-items: start; }

    .home-title1{
        font-size: 35px;
        line-height: 38px; 
        width: 380px; 
        margin: 0 10px;
    }
    #home-hr{ margin: 15px 10px; text-align: start; }

    .home-title2{  
        width: 400px;
        font-size: 20px;
        color: white;
        text-align: start;  
        margin: -10px 10px;
    }
    .home-bg-clip{ margin-left: -100px; max-height: 400px; }

    /* --------------------- ABOUT US RESPONSIVE START --------------------- */ 

    .about-container1{ margin-top: -30px; height: 1345px; }

    .section-about{
        width: 350px;
        height: 370px;
        border-radius: 12px;
        margin: 0 auto;
        display: block; 
        margin-top: -170px; 
        padding-right: 20px;
    }
    .about-bg{ width: 360px; padding-left: 0px; padding-right: 10px;} 

    .about-head , .aboutus-title{ font-size: 15px; padding-top: 0px;}

    .about-title, .aboutus-main-title{
        font-size: 18px;
        width: auto;
        height: 70px;
        line-height: 20px;
        margin-left: auto;
    } 
    .about-sentance, .aboutus-text{
        font-size: 13px;
        line-height: 17px;
        width: auto; 
        margin-top: -10px; 
    }
    .about-box-container{ margin-top: 20px; }

    .about-box, .about-box2, .about-box3{
        height: 140px;
        width: auto;
        margin-left: 0px;
        margin-top: -20px;
    }
    .about-box2, .about-box3{ margin-top: -15px; }

    .experience-head1{ font-size: 20px; } .experience-head2{ font-size: 15px; margin-top: -23px;}

    .legacy{ margin-right: 45px;} 

    /* --------------------- ABOUT US 2 STYLE START --------------------- */

    .aboutus-container{ height: 730px; } 

    .aboutus-section{ top: 40px; } 

    .aboutus-text{ margin: 10px auto; text-align: justify;}

    .aboutus-link{ font-size: 12px; }

    .aboutus-bg{  width: auto; background-size: cover; }

    /* ------------------------- EVENT CARD STYLING---------------------------- */

    .card-slider-container {
        position: relative;
        bottom: 0; 
        left: 0;
        width: 100%;
        /* margin-top: -40px; */
        margin-top: 190px;
    }
    .slider-wrapper{ margin-top: -15px;} .slider-heading { font-size: 17px; } .card-img{ height: 243px;} .empty-event{ height: 235px; }

    .card-content{ padding: 25px 20px 5px; height: 145px;} .card-content-head { font-size: 18px; } 

    .card-content-text, .time-date{ font-size: 13px; width: auto; } .post-time{ position: absolute; margin-top: 20px; left: 15px;}

    .event-title{
        font-size: 17px;
        line-height: 22px;
        width: 70%;
        top: 115px;
        left: 20px;
    }
    .event-text{ top: 170px; left: 20px; }

    .event-card-btn{
        width: auto; 
        height: 35px;
        font-size: 13px;
        font-weight: 400;
        position: absolute; 
        margin-top: -18px;
        right: 40px;
    }
    .card-btn {
        /* width: auto;  */
        height: 35px;
        font-size: 13px;
        font-weight: 400;
        bottom: 16px;
        left: 20px;
    }
    .arrow-orange{ font-size: 12px;}

    .dot { width: 20px; border-radius: 2px;}

    .naukri { width: auto; font-size: 12px; letter-spacing: 0.7px;}

    /* --------------------- MODAL FORM STYLE START --------------------- */

    .modal{ width: auto; padding: 22px; }

    .modal-head{ font-size: 19px; } .modal-content { padding: 5px 20px 20px; }

    #contactForm input[type="text"], #contactForm input[type="email"], #contactForm textarea {
        font-size: 13px;
        height: 40px;
    }
    #contactForm textarea{ height: 130px; }

    .event-formbtn{ padding: 5px 6px; font-size: 11px; }

    /* ------------------------- EVENT DETAILS STYLING---------------------------- */
     
    .event-banner-title{ padding-top: 30%; } 

    .event-card-section{ margin-top: 0px; padding-bottom: 0px;} .event-card-container{ padding: 20px;}
    
    .event-card{ padding-top: 15px; } .event-content{ padding: 10px 20px 30px 20px; }


    .event-time{ position: absolute; left: 40px;}
    
    /* --------------------------------------------------------- */

    .about{ height: auto; padding: 0 20px;} .abt-sec{ width: 350px; }

    .section-about2{ height: auto; width: auto;}

    .whatwedo-headers{ margin: 25px 8px; width: 300px; padding: 10px 20px;}

    .whatwedo-head{ font-size: 14px; width: 300px; font-weight: 400} .about-imgs{ width: 40px; }

    .whatwedo-title{
        font-size: 18px;
        line-height: 21px;
        margin-top: 0px;
        width: 300px;
        height: auto;  
    }
    .about-content-right{
        margin-top: -30px;
        margin-left: 0px;
        width: 320px;
        height: auto;  
    }
    .jobevaluation-title{ font-size: 16px; margin-top: 10px; }
    
    .jobvaluation-paragraph{
        font-size: 13px;
        width: 300px;
        line-height: 16px;
        margin-top: -5px;
        padding-right: 5px; 
    }
    .read-more-btn{ font-size: 13px; }

    .job-travel-block, .dep-place-block{ display: block; gap: 0px; padding: 10px; width: 330px; }
     
    .travel-block, .placement-block{ padding-top: 20px; }  

    /* --------------------- SERVICE1 RESPONSIVE START --------------------- */

    .our-service{ height: 660px; padding: 15px 20px; } .our-service1{ margin-top: 75px;} 

    .our-service-bg{
        height: 636px;
        margin-left: 0px;
        margin-top: 0px;  
    }
    .our-service-title{
        font-size: 20px;
        padding: 10px 10px;
        height: 6px;
        width: 150px;
    }
    /* .our-service-content{
        width: 107%;
        height: 80px;
        margin-top: 79px;
        margin-left: -11px;
        border-radius: 0px 0px 10px 10px;   
    }
    .our-service-para{
        font-size: 13px;
        line-height: 17px;
        width: auto;
        padding: 15px 20px;
    } */
    .service-card-slider{
        margin-left: auto;
        margin-top: 65px;
        width: 330px;
        justify-content: center; 
        align-items: center; 
        margin-right: auto; 
    }  
    .owl-carousel-3 .owl-nav {
        width: auto;
        top: 420px;
        right: auto;
        left: 100px;
        justify-content: flex-end;
    }  
    .owl-carousel .owl-nav .owl-prev,
    .owl-carousel .owl-nav .owl-next{
        height: 30px;
        width: 30px;
        margin-left: 0px;
    } 
    .link-img{ width: 11px; height: 10px; margin: 5px 5px;}

    .box-content{ height: 218px; }

    /* --------------------- SERVICE2 RESPONSIVE START --------------------- */

    .choose-section{ padding: 10px 20px;}

    .choose-container{ padding: 10px 15px; padding-bottom: 20px; }

    .choose-title, .choose-sub-title{ font-size: 16px; } .choose-text-para{ font-size: 13px; line-height: 16px; margin-top: 0px; }

    .choose-box{ padding: 15px 25px; } .choose-network, .choose-vision{ margin-top: 15px; }

    .choose-expertise, .choose-extensive, .choose-solution{ padding-top: 15px;}

    .choose-block{ padding-top: 15px;}

    /* --------------------- SERVICE3 IMPACT RESPONSIVE START --------------------- */

    .collection{ margin-top: 0px; height: auto; padding: 0 7px; } .content-title{ font-size: 18px; }

    .impact-container{ padding: 12px 15px 14px; margin-top: 0px; }

    .content-para{ font-size: 13px; line-height: 17px; height: 235px; overflow: auto; cursor: pointer;} .impact-main{ margin-top: 0px; }

    .impact-content, .leadership-content, .value-content{
        padding: 15px;
        margin-top: -5px;
        border-radius: 0px 0px 12px 12px;
    }
    .leadership-img{ margin-left: 0px; margin-top: -930px; height: 340px;}

    .leadership-content{ height: 320px; margin-top: 300px; z-index: 1; }

    .value-img{ margin-top: -30px; } .value-content{ height: 300px; padding: 7px 15px 10px 15px;}

    /* --------------------- BLOG RESPONSIVE START --------------------- */

    .blog-banner{ margin-top: 70px; height: 270px;}

    .blog-banner-title, .event-banner-title{ font-size: 30px; }

    .blog-banner-subhead{ font-size: 16px; padding-top: 25%;}

    .blog{ height: auto; margin-top: 0px; padding: 5px 22px 0px; } .blog-container{ margin-top: 0px; padding: 0px 0px;}

    .blog-section{ padding: 0 20px 0px; } .blog-container1{ padding: 10px 0px;}

    .our-blog-head{ font-size: 17px; } .manufacture-head{ font-size: 12px; line-height: 0; }

    .blog-subhead{ font-size: 16px; line-height: 18px; }

    .blog-img{ height: 220px; width: 100%;} .blog-img:hover{transform: scale(1.02);}

    .blog-text, .viewall-link{ font-size: 13px; line-height: 17px; }
    
    .blog-block{ margin-top: -10px; } .blog-block2, .blog-block3{ margin-top: 15px; }

    /* .blog-link { font-size: 13px; position: absolute; right: 7%; margin-top: 3px;} */

    .blog-link { font-size: 13px; margin-top: 3px;} 


    /* --------------------- SINGLE BLOG RESPONSIVE START --------------------- */

    .blog-detail-banner{ padding: 90px 20px; margin-top: 70px; height: 290px; }

    .banner-title{ width: auto; font-size: 22px; line-height: 27px; }

    .sidebar-img1{ height: 230px;} .sidebar{ padding-top: 0px;} .sidebar-title, .sidebar-head{font-size: 17px; line-height: normal;} 

    .sidebar-block{ padding-top: 15px;} .single-blogs{ padding: 10px 7px; }

    .blog-head-manu{ font-size: 13px; } .leadership{ margin-top: -15px;}
    
    .sidebar-text{ width: auto; font-size: 14px; line-height: normal; margin-top: -30px;} 

    .blog-main-img , .blog-main-img2{ height: 200px;}

    .single-head{ font-size: 18px; width: auto;} .single-texts{font-size: 13px; line-height: normal; }

    .single-subhead{ font-size: 15px;} .blog-second-img{ padding: 20px 0px 30px 0px; }

    .blog-media{ padding: 0px 20px 0px 0px;}
    
    .shares, .tweet, .share-span, .facebook{ font-size: 13px; }

    .hr-blog { width: 90px;} .share-span1{ display: none ;} 

    .share-div{ padding-top: 8px;}


    /* --------------------- BLOGLOGO RESPONSIVE START --------------------- */

    .blog-logo-section{ padding: 0 17px; }
    
    .our-partner{ margin-top: -8px; }
    
    .logos-title{ font-size: 19px; line-height: 19px; margin-top: 0px; }

    .logo2, .logo3, .logo8, .logo13, .logo15, .logo18{ width: 100px;} .logo5{ width: 160px;}

    .logo9, .logo16, .logo17{ width: 125px;} .logo12{ height: 60px; width: 140px;} .logo14{height: 60px; width: 110px;}

    .logo20{ height: 60px; width: 145px;}

    /* --------------------- CONTACT1 RESPONSIVE START --------------------- */
    .contact-container{ margin-top: 80px; } .contact-main{ margin-top: -15px; padding: 0 17px;}

    .contact-action{
        border-radius: 12px 12px 0px 0px;
        height: 265px;
        width: auto;
        margin-left: -12px;
        margin-top: 0px;
    }
    .action-content{ width: auto; height: 200px; }

    .action-title{
        font-size: 18px;
        width: auto;
        height: auto;
        line-height: 10px;
        margin-left: auto;
    }
    .action-para{
        font-size: 13px;
        line-height: 16px;
        width: auto;
        padding: 0px 10px;
    }
    .consult-btn2{
        margin-top: auto;
        margin-left: 10px;
        font-size: 12px;
        width: 110px;
        height: 30px;
    }

    /* --------------------- CONTACT2 RESPONSIVE START --------------------- */

    .contact-logo{
        width: 120px;
        padding-top: 10px   ;
        padding-left: 0px;
        margin-left: -5px;
    }
    .contact-sentence{
        font-size: 13px;
        line-height: 15px;
        width: auto;
        padding-left: 5px;
        margin-top: -5px;
    }
    .contact-input{
        width: 300px;
        height: 45px;
        margin-top: 5px;
        margin-left: 5px;
        font-size: 12px;
    }
    .inside-btn{
        width: 80px;
        height: 35px;
        margin: 10px 6px;
        font-size: 12px;
    }
    .contact-para, .contact-email{
        font-size: 13px;
        line-height: 15px;
        width: auto;
        padding-left: 10px;
    }
    .contact-email{ margin-top: -60px; } .email-icon{ margin-top: -60px; height: 12px; }

    .location-icon, .email-icon{ margin-left: 0px; width: 12px; height: 16px; }

    .contact-address, .contact-left-section{ padding-left: 10px;}

    .contact-icon{
        margin-left: 13px;
        width: 13px;
        height: 13px;
        margin-top: 10px; 
    }
    .contact-number-div{ margin-left: -5px; margin-top: -45px; width: auto; }

    .contact-number{ font-size: 11.5px; width: auto; margin-top: 10px; padding-left: 20px; }

    .contact-menu-section{
        width: auto;
        height: auto;
        margin-left: 0px;
        margin-top: 0px;
    }
    .company-menu-title{ font-size: 14px; width: 70px; line-height: 0px; }

    .contact-submenu, .contact-submenu1{ font-size: 13px; line-height: normal; width: auto; }

    .contact-menu{ margin-top: 15px; margin-left: -5px; width: 80px; }

    .contact-menu-service{ margin-top: -103px; margin-left: 90px; width: 130px; }

    .contact-menu-link{ margin-left: 230px; margin-top: -125px; width: 80px; }

    .social-icons-div{ margin-left: 200px; margin-top: 0px; width: auto; height: 30px; }

    .social-icons{ padding: 0px 5px; width: 31px; } .contact-end-hr{ width: 94%; margin-left: 10px; }

    /* --------------------- CONTACT2 RESPONSIVE START --------------------- */

    .copyright{ padding: 0 17px 10px ;} .copyright-container{ padding: 10px 10px 80px 0px; }

    .end-note{
        font-size: 11px;
        line-height: 13px;
        padding-left: 30px;
        padding: 0px 20px 0px 30px;
        margin-top: -15px; 
    }
    .end-note-span{ font-size: 11px; }

    /* --------------------- CONTACT-FORM RESPONSIVE START --------------------- */
    
    .contact-form{ height: 990px; padding: 0px 10px 0px 10px; }

    .contact-us-box{ height: auto; }

    .contact-us-title, .form-title{ font-size: 16px;} .contact-us-head{ font-size: 20px; margin-top: -5px; }
    
    .contact-us-text { font-size: 13px; line-height: 17px; }

    .contact-subhead, .contact-subtext, .form-floating{ font-size: 15px;}

    .contact-link{ padding: 0px 0px; } .contact-tele{ padding-left: 9px; margin-top: 0px;} .contact-loc{ padding-left: 2px; } 
    
    br { display: none; } .line { display: inline-block;}

    .form-box {margin-top: -10px; padding: 10px; height: 517px;} 

    .call-icon{ width: 15px; height: 15px; }

    .form-padding { margin-top: -5px; } .form-btn { margin-top: -5px; }
}

/* ---------------------------------------------------------------------------------------------------------
-------------------------------- media style for large phones ----------------------------------------------
------------------------------------------------------------------------------------------------------------ */

@media screen and (max-width: 600px) and (min-width:400px){

    .topnav-centered { margin-left: 95px; margin-top: -30px; }

    #navLinks a { margin-left: -10px;}

    .nav-btn{
        position: absolute; /* Position it relative to the parent */
        right: -130px;
        top: 50%; /* Vertically center it */
        transform: translateY(-50%); 
        font-size: 11px;
        padding: 5px 20px 5px 0px;  
    }
    .get-text{ padding-left: 20px; } .topnav img{ width: 90px; }

/* --------------------- HOME RESPONSIVE START --------------------- */ 


    .carousel-header{ margin-top: 70px; } .home-bg-clip{ margin-left: -100px; max-height: 400px; }

    .home-title-div{ width: auto; margin-top: 0px; max-height: 400px; }

    .home-title1{
        font-size: 35px;
        line-height: 38px; 
        width: 380px; 
        margin: 0 auto;
        margin-left: 1px;
    }
    #home-hr{ margin: 15px auto; text-align: start; margin-left: 2px;}

    .home-title2{  
        width: 400px;
        font-size: 20px;
        color: white;
        text-align: start;  
        margin: -10px auto; 
        margin-left: 0;
    }

    /* --------------------- ABOUT US RESPONSIVE START --------------------- */ 

    .about-container1{ margin-top: -50px; height: 1450px; } 

    .section-about{
        width: auto;
        height: 350px;
        border-radius: 12px;
        margin: 0 auto;
        display: block;
        padding-right: 25px;
        margin-top: -180px;
    }
    .about-bg{ width: 430px; padding-left: 0px; padding-right: 10px;}  .about-head, .aboutus-title{ font-size: 15px; }
    
    .about-title ,.aboutus-main-title{
        font-size: 20px;
        width: auto;
        height: 190px;
        line-height: 22px;
        margin-left: auto; 
    }  
    .about-sentance{
        font-size: 13px;
        line-height: 17px;
        width: auto;
        margin: auto;
        margin-top: -120px;
    }
    .about-box, .about-box2, .about-box3{
        width: auto;
        height: 140px;
        margin-top: -10px;
        margin-left: 0;
    }
    .about-box-container{ margin-top: -10px; padding-bottom: 5px; } .legacy{ margin-right: 43px;}
    
    .experience-head1{ font-size: 20px; } .experience-head2{ font-size: 15px; margin-top: -23px;} 

    /* --------------------- ABOUT US 2 STYLE START --------------------- */

    .aboutus-container{ height: 705px; } 

    .aboutus-section{ top: 40px; } .aboutus-main-title{height: auto}

    .aboutus-text{ margin: 10px auto; font-size: 13px; line-height: 18px; text-align: justify;}

    .aboutus-link{ font-size: 13px; }

    .aboutus-bg{  width: auto; background-size: cover; }

    /* --------------------------------------------------------- */

    .card-slider-container {
        position: relative;
        bottom: 0;
        left: 0;
        width: 100%;
        /* margin-top: -20px; */
        margin-top: 180px;
        margin-bottom: 20px;
    }
    .slider-wrapper{ margin-top: -15px;} .slider-heading { font-size: 17px; } .card-img{ height: 273px;}

    .card-content{ padding: 5px 15px; height: 145px;} .card-content-head { font-size: 18px; } 

    .card-content-text, .time-date{ font-size: 13px; width: auto; } .post-time{ position: absolute; margin-top: 20px; left: 15px;}

    .card-btn {
        width: auto; 
        height: 35px;
        font-size: 13px;
        font-weight: 400;
        bottom: 16px;
    }
    .dot { width: 20px; border-radius: 2px;}

    .naukri { width: auto; font-size: 12px; letter-spacing: 0.7px;}
    
    /* --------------------- MODAL FORM STYLE START --------------------- */

    .modal{ width: auto; padding: 22px; }

    .modal-head{ font-size: 19px; } .modal-content { padding: 20px; }

    #contactForm input[type="text"], #contactForm input[type="email"], #contactForm textarea {
        font-size: 13px;
        height: 40px;
    }
    #contactForm textarea{ height: 130px; }

    .event-formbtn{ padding: 5px 6px; font-size: 11px; }

    /* ------------------------- EVENT DETAILS STYLING---------------------------- */
    
    .event-banner-title{ padding-top: 33%; } 

    .event-card-section{ margin-top: 0px; padding-bottom: 0px;} .event-card-container{ padding: 20px;}
    
    .event-card{ padding-top: 15px; } .event-content{ padding: 10px 20px 30px 20px; }

    .event-card-btn{
        width: auto; 
        height: 35px;
        font-size: 13px;
        font-weight: 400;
        position: absolute; 
        margin-top: -18px;
        right: 40px;
    }
    .event-time{ position: absolute; left: 40px;}

    /* --------------------------------------------------------- */

    .about{ height: auto; padding: 0 20px;} .abt-sec{ width: 350px; }

    .section-about2{ height: auto; width: auto;}

    .whatwedo-headers{ margin: 25px 8px; width: 300px; padding: 10px 20px;}

    .whatwedo-head{ font-size: 14px; width: 300px; font-weight: 400} .about-imgs{ width: 40px; }

    .whatwedo-title{
        font-size: 18px;
        line-height: 21px;
        margin-top: 0px;
        width: 300px;
        height: auto;  
    }
    .about-content-right{
        margin-top: -30px;
        margin-left: 0px;
        width: 320px;
        height: auto;  
    }
    .jobevaluation-title{ font-size: 16px; margin-top: 10px; }
    
    .jobvaluation-paragraph{
        font-size: 13px;
        width: 320px;
        line-height: 16px;
        margin-top: -5px;
    }
    .read-more-btn{ font-size: 13px; }

    .job-travel-block, .dep-place-block{ display: block; gap: 0px; padding: 10px; width: auto; }
     
    .travel-block, .placement-block{ padding-top: 20px; }   


    /* --------------------- SERVICE1 RESPONSIVE START --------------------- */

    .our-service{ height: 678px; padding: 10px 20px; } .our-service1{ margin-top: 80px; }
    
    .our-service-bg{ height: 655px; border-radius: 12px; margin-top: 0px; }

    .our-service-title{
        font-size: 17px;
        padding: 20px 10px;
        height: 6px;
        width: 150px;
    }
    /* .our-service-content{
        width: 107%;
        height: 80px;
        margin-top: 76px;
        margin-left: -11px;
        border-radius: 0px 0px 10px 10px;
    }
    .our-service-para{
        font-size: 13px;
        line-height: 17px;
        width: auto;
        padding: 15px 20px;
    } */
    .service-card-slider {
        margin-left: auto ;
        margin-right: auto;
        margin-top: 35px;
        width: 325px;
        justify-content: center; 
        align-items: center; 
    }
    .owl-carousel-3 .owl-nav {
        width: auto;
        top: 420px;
        right: auto;
        left: 120px;
        justify-content: flex-end;
    }
    .owl-carousel .owl-nav .owl-prev, .owl-carousel .owl-nav .owl-next{ height: 30px; width: 30px; margin-left: 0px; }

    .hover-close{ right: 30px; }  

    .link-img{ width: 11px; height: 10px; margin: -4px 5px;}

    .box-content{ height: 218px; }

    /* --------------------- SERVICE2 RESPONSIVE START --------------------- */
    .choose-section{ padding: 5px 20px 1px; margin-top: 10px; }

    .choose-container{ padding: 10px 15px; padding-bottom: 20px; } .choose-title { font-size: 16px; }
   
    .choose-sub-title{ font-size: 16px; } .choose-box { padding: 15px 25px; }

    .choose-text-para{ font-size: 13px; line-height: 16px; margin-top: 0px; }
    
    .choose-network, .choose-vision { margin-top: 15px; }

    .choose-expertise, .choose-extensive, .choose-solution{ padding-top: 15px;}
 

    /* --------------------- SERVICE3 RESPONSIVE START --------------------- */

    .collection{ height: auto; padding: 0 7px; } .content-title{ font-size: 18px; }

    .impact-container{ padding: 75px 15px 7px; }

    .content-para{ font-size: 13px; line-height: 17px; height: 260px; overflow: auto; cursor: pointer;}

    .impact-content, .leadership-content, .value-content{ padding: 15px 30px ; margin-top: -5px; border-radius: 0px 0px 12px 12px; }

    .leadership-img{ margin-left: 0px; margin-top: -1005px; height: 340px;}

    .leadership-content{ height: 340px; margin-top: 315px; z-index: 1; }

    .value-img{ margin-top: -30px; } .value-content{ height: 340px; } .impact-main{ margin-top: -55px;}

    /* --------------------- BLOG RESPONSIVE START --------------------- */

    .blog-banner{ margin-top: 70px; height: 300px;}

    .blog-banner-title, .event-banner-title{ font-size: 30px;}

    .blog-banner-subhead{ font-size: 16px; padding-top: 28%;}

    .blog{ height: auto; margin-top: 0px; padding: 0 22px; } 
    
    .blog-section{ padding: 5px 20px; } .blog-container, .blog-container1{ padding: 10px 0; }

    .our-blog-head{ font-size: 17px; } .manufacture-head{ font-size: 12px; line-height: 0; }

    .blog-subhead{ font-size: 16px; line-height: 18px; }

    .blog-text, .viewall-link{ font-size: 14px; line-height: 17px; margin-top: 0px; }

    .blog-block{ margin-top: -10px; } .blog-block2, .blog-block3{ margin-top: 15px;}

    .blog-img{ height: 250px; width: 100%; }

    /* .blog-link { font-size: 13px; position: absolute; right: 6%; margin-top: 3px;} */

    .blog-link { font-size: 13px; margin-top: 3px;}

    /* --------------------- SINGLE BLOG RESPONSIVE START --------------------- */

    .blog-detail-banner{ padding: 80px 40px; margin-top: 70px; height: 290px; }

    .banner-title{   font-size: 22px; line-height: 27px; }

    .sidebar-img1{ height: 250px;} .sidebar{ padding-top: 0px;} .sidebar-title, .sidebar-head{font-size: 17px; line-height: normal;} 

    .sidebar-block{ padding-top: 15px;} .single-blogs{ padding: 10px 8px; }

    .blog-head-manu{ font-size: 13px; } .leadership{ margin-top: -25px; }
    
    .sidebar-text{ width: auto; font-size: 14px; line-height: normal; margin-top: -30px;} 

    .single-head{ font-size: 18px; width: auto;} .single-texts{font-size: 13px; line-height: normal; }

    .single-subhead{ font-size: 15px;} .blog-second-img{ padding: 20px 0px 30px 0px; }

    .blog-media{ padding: 0px 10px 0px 0px;}
    
    .shares, .tweet, .share-span, .facebook{ font-size: 13px; }

    .hr-blog { width: 100px;} .share-span1{ display: none ;} 

    .share-div{ padding-top: 8.5px;}

    /* --------------------- BLOGLOGO RESPONSIVE START --------------------- */

    .blog-logo-section{ padding: 0 20px; }

    .our-partner{ margin-top: -15px; }

    .logos-title{ font-size: 20px; line-height: 20px; margin-top: 5px; }    

    .logo2, .logo3, .logo8, .logo13, .logo15, .logo18{ width: 110px;} .logo5{ width: 170px;}

    .logo9, .logo16, .logo17{ width: 135px;} .logo12{ height: 50px; width: 140px;} .logo14{height: 60px; width: 90px;}

    .logo20{ height: 55px; width: 140px;}

    /* --------------------- CONTACT1 RESPONSIVE START --------------------- */

    .contact-container{ margin-top: 85px; } .contact-main{ margin-top: -13px; padding: 0px 20px; }

    .contact-action{
        border-radius: 12px 12px 0px 0px;
        height: 250px;
        width: auto;
        margin-left: -12px;
        margin-top: 0px;
    }
    .action-content{ width: auto; height: 200px; }
    
    .action-title{
        font-size: 20px;
        width: auto;
        line-height: 20px;
        margin-top: 10px;
        margin-left: auto;
    }
    .action-para{
        font-size: 13px;
        line-height: 16px;
        width: auto;
        padding: 0px 10px;
        margin-top: -25px;
    }
    .consult-btn2{
        margin-top: -20px;
        margin-left: 10px;
        font-size: 11px;
        width: 100px;
        height: 35px;
    }
    
    /* --------------------- CONTACT-FORM RESPONSIVE START --------------------- */

    .contact-form{ height: 970px; padding: 0px 10px 0px 10px; }

    .contact-us-box{ height: auto; }

    .contact-us-title, .form-title{ font-size: 16px;} .contact-us-head{ font-size: 20px; margin-top: -5px; }
    
    .contact-us-text { font-size: 13px; line-height: 17px; }

    .contact-subhead, .contact-subtext, .form-floating{ font-size: 15px;}

    .contact-link{ padding: 0px 0px; } .contact-tele{ padding-left: 9px; margin-top: 0px;} .contact-loc{ padding-left: 2px; } 
    
    br { display: none; } .line { display: inline-block;}

    .form-box {margin-top: -10px; padding: 10px; height: 517px;} 

    .call-icon{ width: 15px; height: 15px; }

    .form-padding { margin-top: -5px;} .form-btn {margin-top: -5px;}
    
    /* --------------------- CONTACT2 RESPONSIVE START --------------------- */

    .contact-logo{ width: 120px; padding-left: 0px; padding-top: 10px; }

    .contact-sentence{
        font-size: 13px;
        line-height: 15px;
        width: auto;
        padding-left: 10px;
        margin-top: -5px;
    }
    .contact-input{
        width: 300px;
        height: 45px;
        margin-top: 5px;
        margin-left: 10px;
        font-size: 12px;
    }
    .inside-btn{
        width: 80px;
        height: 35px;
        margin: 10px 6px;
        font-size: 12px;
    }
    .contact-para{
        font-size: 13px;
        line-height: 15px;
        width: auto;
        padding-left: 10px;
        margin-top: 5px;
    }
    .contact-email{
        font-size: 13px;
        line-height: 15px;
        width: auto;
        margin-top: -60px;
        padding-left: 10px;
    }
    .location-icon{
        margin-top: 10px;
        margin-left: 5px;
        width: 13px;
        height: 17px;
    }
    .email-icon{
        height: 15px;
        width: 13px;
        margin-left: 5px;
        margin-top: -60px;
    }
    .contact-icon{
        margin-left: 15px;
        width: 13px;
        height: 16px;
        margin-top: 10px;
    }
    .contact-address, .contact-left-section{ padding-left: 10px;}

    .contact-number-div{ margin-left: 10px; margin-top: -40px; width: auto; padding-left: 0px;}

    .contact-number{ font-size: 11.5px; width: auto; padding-left: 20px; }

    .contact-menu-section{
        width: auto;
        height: auto;
        margin-left: auto;
        margin-top: auto;
    }
    .company-menu-title{ font-size: 15px; width: 70px; line-height: 0px; }

    .contact-submenu, .contact-submenu1{ font-size: 13px; line-height: normal; width: auto; }

    .contact-menu{ margin-top: 15px; margin-left: -5px; width: 80px; }

    .contact-menu-service{ margin-top: -103px; margin-left: 90px; width: 130px; }

    .contact-menu-link{ margin-left: 240px; margin-top: -123px; width: 80px; }

    .social-icons-div{ margin-left: 230px; margin-top: -25px; width: auto; height: 30px; }

    .social-icons{ padding: 0px 5px; width: 31px; }

    .contact-end-hr{ width: 94%; margin-left: 10px; }

    /* --------------------- COPYRIGHT RESPONSIVE START --------------------- */

    .copyright{ padding: 0 20px 10px; } .copyright-container{ padding: 20px 10px 70px 0px; }

    .end-note{
        font-size: 11px;
        line-height: 13px;
        padding-left: 30px;
        padding-right: 20px;
        margin-top: -15px;
    }
    .end-note-span{ font-size: 11px; }
}

/* ---------------------------------------------------------------------------------------------------------
-------------------------------- media style for tablet ----------------------------------------------------
------------------------------------------------------------------------------------------------------------ */

@media screen and (max-width: 1200px) and (min-width: 600px) {

    .hamburger {
        position: absolute; 
        left: 20px; 
        top: 50%; 
        transform: translateY(-50%);
    }
    .nav-btn{
        position: absolute; 
        right: -120px;
        top: 50%;
        transform: translateY(-50%); 
        font-size: 12px;
        padding: 5px 10px 5px 10px;  
    }
    .topnav-centered { margin-left: 0px; left: 49%; margin-top: -30px;}

/* --------------------- HOME RESPONSIVE START --------------------- */

    .carousel-header{ margin-top: 70px; }

    .home-title-div{ width: auto; max-height: 500px; }

    .home-title1{
        font-size: 45px;
        line-height: 40px; 
        text-align: center;
        margin: 0 auto;
    }
    #home-hr{ margin: 17px auto; }

    .home-title2{ 
        width: auto;
        font-size: 20px; 
        margin: -5px auto;
    }
    .home-bg-clip{ margin-left: auto; max-height: 500px; }

/* --------------------- ABOUT US RESPONSIVE START --------------------- */ 

    .about-container1{ margin-top: -30px; height: 700px; }

    .section-about{
        width: 350px;
        height: 350px;
        border-radius: 12px;
        position: relative;
        margin-top: -180px;
        margin-left: -5px;
    }
    .about-head, .aboutus-title{ font-size: 16px; }  

    .about-title, .aboutus-main-title{
        font-size: 20px;
        width: auto;
        line-height: 20px;
        margin-left: auto;
        margin-top: 20px;
    }
    .about-sentance{
        font-size: 16px;
        line-height: 19px;
        width: auto;
        margin: auto;
        margin-top: -145px;
    }
    .about-bg{ width: 360px; padding-left: 0px; padding-right: 10px;} 

    .about-box-container { margin-top: -300px; }

    .about-box,.about-box2, .about-box3{
        height: 130px;
        width: 230px;
        margin-left: -13px;
        margin-top: 5px;
    } 

    .about-box2{ margin-top: -154px; margin-left: 235px; }

    .about-box3{ margin-left: 480px; margin-top: -178px; } .legacy { margin-right: 45px;}

    .experience-head1{ font-size: 20px; } .experience-head2{ font-size: 15px; margin-top: -25px;}

    /* --------------------- ABOUT US 2 STYLE START --------------------- */

    .aboutus-container{ height: 445px; } 

    .aboutus-section{ top: 40px; } .aboutus-main-title{height: auto; width: 70%;} 

    .aboutus-text{ margin: 10px auto; font-size: 15px; line-height: 18px;  }

    .aboutus-link{ font-size: 13px; }

    .aboutus-bg{  width: auto; background-size: cover; }

    /* ------------------------- EVENT CARD STYLING---------------------------- */

    .card-slider-container {
        position: relative;
        bottom: 349px;
        left: 375px;
        right: 0;
        width: 320px;
    }
    .slider-wrapper{ margin-top: -15px;} .slider-heading { font-size: 17px; } .card-img{ height: 223px;}

    .card-content{ padding: 5px 15px; height: 55px;} .card-content-head { font-size: 15px; } 

    .card-content-text, .time-date{ font-size: 13px; width: auto; } .post-time{ position: absolute; margin-top: 20px; left: 15px;}

    .card-btn {
        width: auto; 
        height: 35px;
        font-size: 13px;
        font-weight: 400;
        bottom: 16px;
    }
    .arrow-orange{ font-size: 12px;}

    .dot { width: 20px; border-radius: 2px;}

    .naukri { width: auto; font-size: 12px; letter-spacing: 0.7px;}

    /* ------------------------- EVENT DETAILS STYLING---------------------------- */
    
    .event-card-section{ margin-top: 15px; padding-bottom: 10px; } .event-card-container{ padding: 10px; padding-bottom: 20px; }
    
    .event-banner-title{ padding-top: 23%; font-size: 30px;} 
    
    .event-card{  padding-top: 20px; }

    .event-content{ padding: 10px 10px 30px 10px; }

    .event-card-btn {
        width: 70px; 
        height: 25px;
        font-size: 10px;
        font-weight: 400;
        position: absolute; 
        margin-top: -16px;
        margin-left: -70px;
        right: auto;
    }
    .time-date { font-size: 10px; }

    .event-time{ position: absolute; left: auto; margin-left: -113.5px; margin-top: 13px;}

    /* --------------------------------------------------------- */

    .about{ height: auto; } .abt-sec{ width: 350px; margin-left: 0px; }

    .section-about2{ height: auto; width: auto; }

    .whatwedo-headers{ margin-left: 10px; margin-top: 30px; padding: 20px 20px; }
    
    .whatwedo-head{
        font-size: 16px;
        width: auto;
        margin-left: -15px;
        margin-top: -10px;
    }
    .whatwedo-title{
        font-size: 20px;
        line-height: 22px;
        margin-top: 10px;
        margin-left: -15px;
        width: 500px;
        height: auto;
    }
    .about-imgs{ width: 50px; }

    .about-content-right{
        margin-left: 10px;
        margin-top: 40px;
        width: 320px; 
    }
    .jobevaluation-title{ font-size: 17px; margin-top: 15px; }

    .jobvaluation-paragraph{
        font-size: 15px;
        width: 288px;
        line-height: 16px;
        margin-top: 0px;
    }
    .readmore-link{ font-size: 13px; line-height: 0px; }

    .job-travel-block, .dep-place-block{ display: flex; gap: 200px; }
 

    /* --------------------- SERVICE1 RESPONSIVE START --------------------- */

    .our-service1{ margin-top: 80px; } .our-service{ height: 670px; padding: 10px 0px 0px ; }

    .our-service-bg{ height: 640px; margin-top: 10px; }
    
    .our-service-title{
        font-size: 20px;
        padding: 5px 10px;
        height: 6px;
        width: 170px;
        color: #fff;
    }
    /* .our-service-content{
        width: 103.3%;
        height: 100px;
        margin-top: 89px;
        margin-left: -11px; 
        border-radius: 0 0 10px 10px;
    }
    .our-service-para{
        font-size: 15px;
        line-height: 17px;
        width: 450px;
        padding: 20px 20px;
    } */
    .service-card-slider{  margin-left: 70px; margin-top: 65px; width: 590px; height: 370px; }  

    .manufacture-img, .box-content{ width: 265px;} .manufacture-hover{ width: 265px; padding: 10px 30px; height: 383px;}

    .manufacture-box-title, .manufacture-title{ font-size: 14px;}

    .box-content{ padding: 18px 20px; } 

    .owl-carousel-3 .owl-nav {
        width: auto;
        top: 420px;
        right: auto;
        left: 250px;
        justify-content: flex-end;
    }
    .owl-carousel .owl-nav .owl-prev, .owl-carousel .owl-nav .owl-next{ height: 30px; width: 30px; margin-left: 0px; } 

    .link-img{ width: 11px; height: 10px; margin: -4px 5px;}

    .box-content{ height: 218px; }

    /* --------------------- SERVICE2 RESPONSIVE START --------------------- */

    .choose-section{ padding: 10px 13px; } .choose-container{ padding: 10px 13px; }

    .choose-title{ font-size: 16px; } .choose-sub-title{ font-size: 16px; }

    .choose-text-para{ font-size: 13px; line-height: 16px; margin-top: 0px; }

    .choose-box{ padding: 15px 30px; height: auto;}  .choose-vision{ padding-top: 15px;}

    .choose-expertise, .choose-extensive, .choose-solution{ padding-top: 15px;}   

    /* --------------------- SERVICE3 RESPONSIVE START --------------------- */

    .collection{ margin-top: 0px; height: auto; } 
    
    .impact-container{ padding: 10px 0px; }

    .content-title{ font-size: 18px; } 
    
    .content-para{ font-size: 13px; line-height: 17px; height: 250px; overflow: auto;   scrollbar-width: thin; /* Firefox scrollbar thickness */
        scrollbar-color: #0000001e transparent ;}

    .impact-img{ height: 325px;  }

    .impact-content{
        padding: 15px 30px;
        border-radius: 7px;
        width: 340px;
        margin-left: 19px;
    }
    .leadership-img{ margin-left: 19px; width: 340px; height: 330px; }

    .leadership-content{
        height: 330px;
        width: 360px;
        padding: 10px 20px;
        border-radius: 7px;
    }
    .value-img{ margin-top: 0px; height: 340px; }

    .value-content{
        height: 340px;
        width: 340px;
        margin-left: 19px;
        padding: 7px 20px;
    }

    /* --------------------- BLOG RESPONSIVE START --------------------- */

    .blog-banner{ margin-top: 70px; height: 300px;}

    .blog-banner-title{ font-size: 30px;}

    .blog-banner-subhead{ font-size: 16px; padding-top: 15%;}

    .blog-container{  padding: 10px 0px; } .blog{ margin-top: 0px; height: auto; }

    .blog-section{ padding: 1px 0px; }

    .our-blog-head{ font-size: 18px; } .manufacture-head{ font-size: 12px; line-height: 0; }

    .blog-subhead{ font-size: 16px; line-height: 18px; }

    .blog-text, .viewall-link{ font-size: 13px; line-height: 17px; }

    .blog-img{ height: 160px; } .blog-block3 { margin-top: 20px; } 
    
    /* .blog-link { font-size: 13px; position: absolute; right: 8%; margin-top: 3px;} */

    .blog-link { font-size: 13px; margin-top: 3px;}

    /* --------------------- SINGLE BLOG RESPONSIVE START --------------------- */

    .blog-detail-banner{ padding: 95px 40px; margin-top: 70px; height: 300px; }

    .banner-title{ font-size: 30px; line-height: 35px; }

    .sidebar-container{ width: auto;} .sidebar{ padding-top: 0px;}

    .sidebar-img1{ height: 150px; width: 250px;} .sidebar-title, .sidebar-head{ font-size: 17px; line-height: normal; width: 250px;} 

    .sidebar-title{ padding-top: 20px;} .sidebar-block{ padding-top: 15px;} .single-blogs{ padding-top: 10px;}

    .sidebar-text{ width: 250px; font-size: 14px; line-height: normal; margin-top: -30px;} 

    .blog-head-manu{ font-size: 13px; } .leadership{ margin-top: 0px; }

    .qwerty { gap: 4px;}

    .content-container{ width: auto; position: relative; }

    .single-head{ font-size: 18px; width: 422px; } .single-texts{font-size: 14px; line-height: normal; width: 422px;}

    .blog-main-img, .blog-main-img2{ width: 422px; } 

    .single-subhead{ font-size: 15px;} .blog-second-img{ padding: 20px 0px 30px 0px; }
    
    .blog-media{ padding: 0px 10px 0px 0px;}
    
    .shares, .tweet, .share-span, .facebook{ font-size: 13px; }

    .hr-blog { width: 100px;} .share-span1{ display: none ;} 

    .share-div{ padding-top: 8.5px;}

    /* --------------------- BLOGLOGO RESPONSIVE START --------------------- */

    .our-partner{  margin-top: -10px; }
    
    .logos-title{
        font-size: 25px;
        line-height: 20px;
        margin-top: 15px;
    }

    /* --------------------- CONTACT1 RESPONSIVE START --------------------- */

    .contact-container{ margin-top: 90px; } 

    .contact-action{
        border-radius: 12px 12px 0px 0px;
        height: 190px;
        width: auto;
        margin-left: -12px;
        margin-top: -14px;
        background-image: url(../media/Action_button_bg_croped.png);
    }
    .action-content{ width: auto; height: 200px; }

    .action-title{
        font-size: 20px;
        width: auto;
        line-height: 20px;
        margin-left: auto;
    }
    .action-para{
        font-size: 15px;
        line-height: 16px;
        width: 550px;
        margin-top: -25px;
        padding: 0px 10px;
    }
    .consult-btn2{
        margin-top: -120px;
        margin-left: 580px;
        font-size: 12px;
        line-height: 15px;
        width: 90px;
        height: 35px;
    }

    /* --------------------- CONTACT-FORM RESPONSIVE START --------------------- */
    
    .contact-form{height: 950px; padding: 0px 10px 0px 10px; }

    .contact-us-box{ height: auto;}

    .contact-us-title, .form-title{ font-size: 16px;} .contact-us-head{ font-size: 20px; margin-top: -5px; }
    
    .contact-us-text { font-size: 14px; line-height: 17px; }

    .contact-subhead, .form-floating{ font-size: 15px;} .contact-subtext{ font-size: 14px;}

    .contact-link{ padding: 0px 0px; } .contact-tele{ padding-left: 9px; margin-top: 0px;} .contact-loc{ padding-left: 2px; margin-top: -15px;} 
    
    .line { display: inline-block;} br { display: none; } 

    .form-box { padding: 10px; height: 517px;} 

    .call-icon{ width: 20px; height: 20px; }

    .form-padding { margin-top: -5px;} .form-btn {margin-top: -5px;}

    /* --------------------- CONTACT2 RESPONSIVE START --------------------- */

    .contact-logo{ width: 130px; padding-top: 10px; padding-left: 0px; }

    .contact-sentence{ font-size: 15px; line-height: 15px; width: 400px; padding-left: 10px; margin-top: -5px; }

    .contact-input{ width: 400px; height: 45px; margin-top: 5px; margin-left: 10px; font-size: 14px; }

    .inside-btn{ width: 80px; height: 35px; margin: 10px 6px; font-size: 12px; }

    .contact-para, .contact-email{ font-size: 14px; line-height: 15px; width: 400px; padding-left: 10px; }

    .contact-email{ margin-top: -60px; } .location-icon, .email-icon{ margin-left: 15px; width: 12px; height: 15px; }

    .email-icon{ height: 13px; margin-top: -60px; }

    .contact-icon{ margin-left: 5px; width: 13px; height: 14px; margin-top: 10px; }

    .contact-number-div{ margin-left: 250px; margin-top: -70px; width: auto; height: 30px; }

    .contact-number{ font-size: 14px; width: auto; margin-top: 8px; }

    .contact-menu-section{ width: 650px; height: auto; margin-left: 30px; margin-top: -30px; }

    .company-menu-title{ font-size: 14px; width: 70px; line-height: 0px; }

    .contact-submenu, .contact-submenu1{ font-size: 13px; line-height: normal; width: auto; }

    .contact-menu{ margin-top: 15px; margin-left: -5px; width: 100px; }

    .contact-menu-service{ margin-top: 15px; margin-left: -150px; width: 170px; }

    .contact-menu-link{ margin-left: 360px; margin-top: -123px; width: 80px; }

    .social-icons-div{ margin-left: 180px; margin-top: -5px; width: auto; height: 30px; }

    .social-icons{ padding: 0px 5px; width: 31px; }

    .contact-end-hr{ width: 94%; margin-left: 10px; margin-top: 10px; }

    /* --------------------- COPYRIGHT RESPONSIVE START --------------------- */
    
    .copyright{ padding: 0 20px 10px;} .copyright-container{ padding: 0px 10px 35px 10px; }

    .end-note{
        font-size: 12px;
        line-height: 15px;
        padding-left: 30px;
        margin-top: 0px;
        width: 600px;
    }
    .end-note-span{ font-size: 12px; }
}

/* -----------------------------------------------------------
--------------------- STYLING FOR IPAD PRO -------------------
-------------------------------------------------------------- */
@media screen and (max-width:1200px) and (min-width:990px){

    /* ------------------------- EVENT DETAILS STYLING---------------------------- */

    .card-slider-container{ left: 610px}
    
    .event-banner-title{ padding-top: 15%; } 
    
    .event-card{ width: 320px; }

    .event-time{ position: absolute; left: auto; margin-left: -115px; }

    /* ------------------------- EVENT DETAILS END---------------------------- */
    .about-bg-2{ left: 0px; width: 99%; } 

    .section-about{ width: 580px;} .aboutus-container{ height: 380px; }

    .about-box, .about-box2, .about-box3{ height: 130px; width: 310px; }

    .about-box2{ margin-top: 5px; margin-left: -168px; }

    .about-box3{ margin-left: 637px; margin-top: -155px; }

    .service-box{ margin-top: 3px; }

/* -----------ABOUT2 SECTION STYLING-------------- */

    .home-title1{ width: 600px; } 

    .about{ height: auto; } .section-about2{ height: auto; width: auto; } 

    .whatwedo-headers{ margin-top: 80px; padding: 10px 20px 0px 10px; } .whatwedo-title{ width: auto; height: auto; }

    .about-imgs{width: 40px;} .about-content-right{ margin-left: 310px; margin-top: -100px; }

    .job-travel-block, .dep-place-block{ gap: 180px; }  .jobvaluation-paragraph{ width: 270px;}
    
    /* -----------section1 section-------------- */

    .our-service-bg{ background-image: url(../media/service_Bg_Image.png); height: 610px;  }

    .our-service-title{ color: rgb(255, 255, 255); }

    .our-service-content{ width: 102.6%; margin-left: -11px; margin-top: 5.8%; } .service-card-slider{ margin-left: 310px; margin-top: 40px;}

    .owl-carousel-3 .owl-nav { width: auto; top: 370px; right: auto; left: -80px; justify-content: flex-end; }

    /* -----------section2 section-------------- */

    .choose-section{ padding: 20px 15px; }  .choose-network{ padding-top: 10px;} 
    
    /* -----------section3 section-------------- */

    .impact-img, .value-img{ height: auto; width: auto; }

    .content-para{ height: 250px; }
    
    .impact-container{ padding: 0px 0px;}

    .impact-content{ padding: 50px 50px; width: 460px; }

    .leadership-img{ margin-left: 19px; width: 460px; height: auto; }

    .leadership-content{ height: auto; width: 480px; padding: 50px 50px; }

    .value-content{ height: auto; width: 460px; padding: 50px 50px; }

    .contact-action{ background-image: url(../media/Action_button_bg.png);  }

    /* --------------------- BLOG-SINGLE RESPONSIVE START --------------------- */

    .blog-container { padding: 18px 0 10px;}

    .blog-block{ margin-top: 0px;}

    .blog-img { width: 100%; height: 220px;}

    .sidebar-img1{ height: 200px; width: 350px;}

    .sidebar-head, .sidebar-text{ width: 340px;} .leadership{ margin-top: -20px;}

    .blog-main-img, .blog-main-img2, .single-texts { width: 560px;} 

    .qwerty { gap: 10px;} .logos-title{ font-size: 30px;}

    /* --------------------- CONTACT-FORM RESPONSIVE START --------------------- */

    .contact-form{ height: 600px; padding: 0px 20px 0px 20px; }

    .form-box{ margin-top: 30px; padding: 20px; height: 540px;} 

    .contact-us-box{ height: auto; margin-top: 80px;}
}

@media screen and (max-width: 1400px) and (min-width: 1200px) {

    .home-bg-clip { margin-left: auto; max-height: 700px; } .home-title-div{ height: 700px;} 

    /* --------------------- ABOUTUS-1 RESPONSIVE START --------------------- */
    .section-about { width: 500px;} .about-title{ font-size: 40px; line-height: 50px; width: 600px;}

    .about-sentance{ width: 600px; margin-top: -30px; }

    .section-title h1{ width: 800px; text-align: center;} .section-title p { width: 600px; text-align: center; margin-left: -50px;}

    .card-slider-container{ left: 680px; }

    .about-box,.about-box2, .about-box3{
        height: 130px;
        width: 370px;
        margin-left: -13px;
        margin-top: 5px;
    }
    .about-box2{ margin-left: -6px;} .about-box3{ margin-left: 0px;} 

    .service-head{ margin-top: -55px;} .section-about2{ height: 720px;}

    .whatwedo-title{ font-size: 30px; line-height: 40px; width: 420px;} .whatwedo-head{ font-size: 18px; }

    .about-content-right{ margin-left: -30px; height: 560px;} 

    .job-block, .travel-block{ height: 250px;} .deployment-block , .placement-block{ margin-top: -50px; height: 200px;}

    /* --------------------- SERVICE-1 RESPONSIVE START --------------------- */

    .our-service-title { font-size: 30px;} .service-card-slider{ width: 650px; margin-left: 470px; margin-top: 35px; }  

    /* .our-service-content{ margin-top: 95px; } .our-service-para{ padding: 40px 40px;} */

    /* --------------------- SERVICE-2 RESPONSIVE START --------------------- */

    .choose-container{ padding: 35px 40px; }
    
    .choose-title{ font-size: 30px;} .choose-experience{ height: 485px;}

    .choose-box { height: 200px;} 

    /* -----------SERVICE-3 SECTION-------------- */

    .content-title{ font-size: 30px; }

    .impact-content{ padding: 50px 50px; width: 550px; margin-left: 20px;}

    .leadership-img{ margin-left: 20px; width: 550px; height: auto; }

    .leadership-content{ height: auto; width: 570px; padding: 30px 40px 0px 40px; }

    .value-content{ height: auto; width: 550px; padding: 30px 40px 0px 40px; margin-left: 20px;}

    .blog{ height: auto; }  .blog-img{ height: 260px;}

    /* -----------CONTACT SECTION-------------- */

    .contact-menu-section{ margin-left: 520px; margin-top: -450px;} 

    .contact-menu { margin-left: 90px;} .social-icons-div { margin-left: 400px;}
}

@media screen and (max-width: 1199px) and (min-width: 1035px){

    .nav-links{ padding: 5px;} .nav-links .nav-menu{ padding: 10px 0px; font-size: 14px;}

    .topnav img { height: 80px;} .nav-logo-head{ font-size: 16px;} .nav-logo-head2{ font-size: 13px;} 

    .topnav-centered { text-align: center; margin: 0 auto; margin-left: -680px; width: 350px; }
}

@media screen and (max-width: 1500px) and (min-width: 1201px){ 

    .nav-links{ padding: 10px; padding-left: 70px;} .nav-links .nav-menu{ padding: 10px 5px; font-size: 15px;}

    .nav-logo-head{ font-size: 18px;} .nav-logo-head2{ font-size: 14px;} 

    .topnav-centered { text-align: center; margin: 0 auto; margin-left: -100px; } .nav-btn{ right: -100px;}

    .about-box,.about-box2, .about-box3{  height: 150px; }
 
}

@media screen and (max-width: 765px) and (min-width: 600px){
    
    #about_us{ height: 1250px; }   

    .about-section{ margin-top: 60px; height: 800px; }

    .section-about{ width: auto;  margin-top: 20px;} .section-title p{ margin-left: 10px;}

    .card-slider-container {
        bottom: 0;
        left: 0;
        top: 10px;
        width: auto;
    }
    .about-box-container { margin-top: 0; } 

    .about-box,.about-box2, .about-box3{
        width: auto;
        margin-left: 0px;
        margin-top: 0px;
    }
    .about-box2, .about-box3{margin-top: -15px;} 

    .experience-head2{margin-top: -26px;}

    .about-content-right{  margin-left: -13px; width: 220px; }

    .jobvaluation-paragraph{ width: 230px; } .travel-block, .placement-block{ margin-left: 260px; }
    
    /* --------------------- SERVICE1 RESPONSIVE START --------------------- */

    .service-card-slider{  margin-left: 130px; width: 300px; } .owl-carousel-3 .owl-nav { left: 100px; }

    .our-service-content{ width: 105%; }

    .choose-container{ padding: 10px 50px 20px; }

    .choose-experience, .choose-network, .choose-vision{ width: auto; }

    .choose-network, .choose-vision{ margin: 0; padding-top: 15px; }
    
    .choose-box{ width: 440px;} .choose-img { height: 340px; width: 440px;}

    .impact-img{ height: 370px; }  

    .impact-content, .value-content {
        width: 600px;
        height: auto; 
        margin-left: 0px; 
        margin-top: -5px; 
        padding: 20px 30px;
        border-radius: 0px 0px 7px 7px; 
    }
    .leadership-img{ height: 370px; width: 600px; margin-left: 0px; margin-top: -160%;}  

    .leadership-content{ 
        width: 600px;
        height: auto; 
        padding: 20px 30px 10px; 
        border-radius: 0px 0px 7px 7px; 
        z-index: 1; 
        margin-top: 350px;
    }
    .valuetime-main{ margin-top: -10px; }

    .blog-img{ width: 100%; height: 300px;} .blog-grp{ padding: 0px 20px;}

    .blog-block2, .blog-block3{ padding-top: 15px;}

    /* --------------------- CONTACT1 RESPONSIVE START --------------------- */
    
    .action-para{ width: auto; }

    .consult-btn2{ margin-top: -20px; margin-left: 10px; } .contact-action{ height: 240px; }

    .contact-number-div{ margin-left: 10px; margin-top: -45px; }
    
    .contact-menu-section{ width: 650px; height: auto; margin-left: 30px; margin-top: 0px; }

    .contact-menu-service{ margin-top: -103px; margin-left: 100px; }
    
    .contact-menu-link{ margin-left: 250px; margin-top: -123px;}

    .social-icons-div{ margin-left: 350px; margin-top: -25px; }

    .copyright-container{ padding: 0px 30px 55px 10px; } .end-note{ width: 550px; }
    
    /* ------------------------- EVENT DETAILS STYLING---------------------------- */
    .event-img { width: 550px;}
    
    .event-content{ padding: 10px 30px 30px 30px; }
}

@media screen and (max-width: 600px) and (min-width: 475px) {
    .event-img { width: 550px;}
}


@media screen and (max-width: 1670px) and (min-width: 1500px){

    #navLinks{ padding-left: 70px;} .topnav-centered{ text-align: center; margin: 0 auto; margin-left: -170px; }
    
    .nav-links .nav-menu{ padding: 10px 10px; }  
}